[2013-09-03 09:46] adesideri opened #1 "CoolProp does not work with the new version of EES"

[2013-09-04 10:36] bdechesne opened #2 "Accessing Refprop through Coolprop with EES for mixture does not work"
The error i get is:
"CoolProp error: Your refrigerant [REFPROP-MIX:R152a[0.5]&R245fa[0.5]] is from REFPROP, but CoolProp does not support REFPROP on this platform, yet."

It doesn't work either with pure fluids.

Thanks in advance

[2013-09-04 11:02] jowr commented on #2
Hm, which version of CoolProp do you use? This error also occurs when the refprop.dll file is not available on our system. Please make sure the refprop.dll file is in your windows/system folder or add the refprop installation directory to your path.

[2013-09-04 12:50] bdechesne commented on #2
Le 4/09/2013 13:02, jowr a écrit :

##

Bertrand Dechesne
Assistant / Phd Candidate

Thermodynamics and Energetics Laboratory
University of Liège
Sart-Tilman Campus B49-P33
4000 Liège
Belgium
+32(0)4 366 48 23
bdechesne@ulg.ac.be

[2013-09-05 08:16] ibell opened #3 "REFPROP does not work with MATLAB"
Works fine in other languages, but not in REFPROP:

[code]

[2013-09-05 08:28] jowr commented on #3
Could this be related to the EES error?

On 05/09/13 10:16, ibell wrote:

[2013-09-05 08:30] ibell commented on #3
I have fixed one of the EES errors, this seems to be something different.
I have no idea why MATLAB is not working with REFPROP.  Do you have MATLAB
on your computer?  Could you give this a try?

On Thu, Sep 5, 2013 at 10:28 AM, jowr notifications@github.com wrote:

[2013-09-05 08:58] jowr commented on #3
I meant issue number 2, not 1. Sure it is not related?

A fresh installation of the MATLAB wrapper seems to work fine. I have a
32bit Linux machine.

I cannot test the Windows part, no Matlab on Windows...

On 05/09/13 10:30, ibell wrote:

[2013-09-05 09:08] ibell commented on #3
Ah - maybe its the old 32-bit/64-bit issue again.  I tested using MATLAB
64-bit, that could be the problem.  I think REFPROP is 32-bit, right?

On Thu, Sep 5, 2013 at 10:58 AM, jowr notifications@github.com wrote:

[2013-09-05 09:27] jowr commented on #3
Yes and no. The DLL comes in 32bit, but you can also get a 64bit version from NIST. On other platforms (Linux, OSX) refprop is compiled for the specific architecture (see librefprop.so). Hence, we have 64bit if the machine is a running a 64bit OS.

On 05/09/13 11:08, ibell wrote:

[2013-09-05 09:46] ibell commented on #3
Ok, got it - definitively a problem with 32-bit REFPROP not being able to
be called from 64-bit MATLAB.  How do we test this at run time?

On Thu, Sep 5, 2013 at 11:27 AM, jowr notifications@github.com wrote:

[2013-09-05 10:03] jowr commented on #3
How about something like this
http://msdn.microsoft.com/en-us/library/aa364819%28VS.85%29.aspx or this
http://stackoverflow.com/a/12338526

On 05/09/13 11:46, ibell wrote:

[2013-09-05 10:20] ibell commented on #3
That should do the trick for figuring out what bitness was used to build,
but I am not sure that tells us about the bitness of the DLL - I'll have to
dig a bit

On Thu, Sep 5, 2013 at 12:03 PM, jowr notifications@github.com wrote:

[2013-09-06 15:00] jowr opened #4 "Return values for undefined functions in Modelica wrapper"
The solver classes in the ExternalMedia package contain function definitions that need to be overwritten by the actual solver implementation. Even though these functions might not be implement, they still return a value (often 0). This behaviour is confusing since the error message does not make it to the Modelica layer and a return value of zero is not very suspicious.
An example can be found in

[2013-09-06 22:54] ibell opened #5 "Plots are broken"
When I try to run the normal ph or hs plots, I get the following error::

[code]

[2013-09-06 23:00] jowr commented on #5
Yes, looks like I broke something. I'll fix it asap.
Jorrit

ibell notifications@github.com wrote:

When I try to run the normal ph or hs plots, I get the following error::

—
Reply to this email directly or view it on GitHubhttps://github.com/ibell/coolprop/issues/5.

[2013-09-06 23:02] ibell commented on #5
Thanks.

On Sat, Sep 7, 2013 at 12:00 AM, jowr notifications@github.com wrote:

[2013-09-07 11:27] jowr commented on #5
Should be fixed.

[2013-09-07 11:27] #5 closed, assigned to jowr

[2013-09-07 12:42] jowr commented on #4
I think this is fixed now. Could one of you Windows-users please verify that things work as expected? I added a test to the Modelica package in CoolProp2Modelica,Test.TestMedium.TestIsentropicExpansion.

Please close the issue if it is resolved.

[2013-09-07 14:14] ibell opened #6 "Fix bicubic interpolation with inputs other than P,H or T,D"

[2013-09-07 14:18] ibell commented on #2
Fixed with the updated EES version and fixed setting of mole fraction array for second call

[2013-09-07 14:18] #2 closed, assigned to nobody

[2013-09-11 14:30] jowr opened #7 "h,s solver again"
After installing the latest version, I experience problems with the h,s-solver. This point definitely worked earlier:

[code]

It seem like there are some problems with the liquid and two-phase region, vapour seems to work. Can anyone verify this?

[2013-09-12 11:23] ibell opened #8 "Would be nice to get CoolProp working with Java"

[2013-09-12 11:24] ibell opened #9 "Build a plugin for Calc (LibreOffice)"

[2013-09-12 12:19] jowr commented on #8
I'll have a look.

[2013-09-12 12:29] ibell commented on #8
I started playing with SWIG on windows, but I'm stuck with the
compilation.  I'll take a crack on linux and see if I can make progress at
least in linux.

Ian

On Thu, Sep 12, 2013 at 2:19 PM, jowr notifications@github.com wrote:

[2013-09-12 13:00] jowr commented on #8
This does the job on Linux:

#!/bin/bash
#
#cd ../../CoolProp
NAME=CoolProp
SRCD="../../${NAME}"
PACK=net.sf.coolprop
JDIR=/usr/lib/jvm/java-6-openjdk/include
#
INCL="-I${JDIR} -I${SRCD}"
#
swig -c++ -java -package ${PACK} -outcurrentdir ${SRCD}/${NAME}.i
g++ -fpic -c ${NAME}_wrap.cxx ${INCL} # -I/usr/java/include -I/usr/java/include/solaris
g++ -fpic -c ${SRCD}/${NAME}DLL.cpp ${INCL}
g++ -shared

[2013-09-12 13:23] ibell commented on #8
wow, that was fast.  no chance you have an example of running it too?  And
can you commit that script into a wrappers/Java folder?

On Thu, Sep 12, 2013 at 3:00 PM, jowr notifications@github.com wrote:

[2013-09-12 22:11] ibell commented on #8
On windows, this version works for Java : 25051260c90d9d2d45b5a82304000f2f9b0919da

[2013-09-12 22:12] ibell commented on #8
For linux, I am having a lot of problems, I think they might be related to openjdk, so I want to try using sun java.  Btw, your script is missing the compilation of the coolprop source files as well.  See my windows batch files

[2013-09-12 23:27] lgpage opened #10 "Please create a python_plots branch"
I would like to create a pull request for the python plotting stuff I've done.
It shouldn't be merged into the master branch just yet, still needs more testing and feedback from you and @jowr.

If you want to merge the code into the master branch I suggest creating release tags for the stable versions of Coolprops.

[2013-09-12 23:41] lgpage opened #11 "Suggestion: Move the Web files to the coolprops wiki on github"
As a suggestion I think it might be beneficial to move the Web files to the github wiki:
git@github.com:ibell/coolprop.wiki.git

That is if you want to migrate the sourceforge website to github.

[2013-09-13 08:26] jowr commented on #10
Branch created.

[2013-09-13 08:26] #10 closed, assigned to nobody

[2013-09-13 08:28] jowr commented on #8
Hi, the reason I did not commit things is that I am currently trying to convert the build process to scons. I think it is not nice having to compile the big binary library everytime you make a wrapper. A shared system library is just as good and saves compile time...
What do you think?

[2013-09-13 14:13] ibell commented on #8
Are you thinking of using the same static library for all wrappers? This
has a great deal of appeal, and I think I am on board.  The only trick is
dealing with all the possible combinations of compiler flags and 32-/64-bit
compilation

On Fri, Sep 13, 2013 at 10:28 AM, jowr notifications@github.com wrote:

[2013-09-13 15:39] ibell opened #13 "Saturation routines at low pressure"
At very low pressure, numerical precision problems means that Newton-Raphson cannot yield the same pressure for liquid and vapor, sometimes the error is greater than 1%, although the absolute error is incredibly small.  Ideally it would be nicer to have a better solution that would behave better over the entire surface from the triple point to the critical point.

Arbitrary precision math library

[2013-09-13 15:40] ibell commented on #13
Fundamental problem is that in some places we are doing 1+1e17, which is just 1e17 for double math.

[2013-09-13 15:41] ibell commented on #11
I'm amenable, but only if we can get coolprop.sf.net to redirect to github.  What's the advantage of hosting on github?

[2013-09-13 22:04] ibell opened #14 "move cached derivative terms into cache structure for CoolPropStateClass"

[2013-09-14 18:43] ibell commented on #14
Fixed in e5dcce344c8b0a6af363119d9a80d32aa0b77038

[2013-09-14 18:43] #14 closed, assigned to nobody

[2013-09-14 20:28] #13 closed, assigned to nobody

[2013-09-14 22:00] ibell commented on #7
I have seen other similar problems recently, I'm trying to determine the root cause

[2013-09-14 22:03] ibell opened #15 "Seems like some problems with P-H and H-S solvers, as well as some problems with T-P above critical pressure"

[2013-09-14 22:04] ibell commented on #15
See the fluid plots for examples of failures - water for instance

[2013-09-15 17:19] ibell opened #16 "Merging of unitfied code into master"
Before I make the merge (which has some non-backwards-compatible changes), I wanted to give you all a heads up.  The branch has been pretty heavily tested and while I am confident that there are still some tiny bugs hiding out, I think it is time to merge.

I have also already updated the Modelica wrapper, it now uses the SI version of the state class throughout.

[2013-09-15 18:42] ibell opened #17 "Change reference state for enthalpy for fluid"

[2013-09-15 18:56] ibell commented on #4
I don't know how to test this - Ill ask Sylvain or Adriano later on this week.

[2013-09-15 20:24] ibell commented on #15
Fixed in b5e12dfb63c983354d79357c1bbe6b5e202155ed

[2013-09-15 20:24] #15 closed, assigned to nobody

[2013-09-15 20:38] ibell commented on #7
Fixed at revision 147152f5f7d6796e54ce4ab8628b007f8d26f3f0 in the unitfied branch (soon to be merged back)

[2013-09-15 20:38] #7 closed, assigned to nobody

[2013-09-15 21:21] ibell commented on #16
Done.  Hopefully it isn't too broken.

[2013-09-15 21:21] #16 closed, assigned to ibell

[2013-09-15 21:33] ibell opened #18 "Restoring some of the plotting functionality"
I suppose I was a bit too hasty in my merge of the new plotting code, but there were some quite significant non-backwards-compatible changes made, and some of the changes I would like to see reverted.

For one, I am not sure how anything works in the import of CoolProp.Plots since the **init**.py file references Plots.Ts, Plots.ph, etc.  I would like to see those functions restored as they are ver

[2013-09-15 22:33] jowr commented on #7
Great! What was wrong?

[2013-09-15 22:45] jowr commented on #18
How about including the new code as CoolProp.Plots2? That allows everyone to test the new functionality and does not break the API. We can then mature the code together and replace CoolProp.Plots in the next release. We might also provide some wrapper functions to maintain backward compatibility.

ibell notifications@github.com wrote:

I suppose I was a bit too hasty in my merge of the new plottin

[2013-09-16 02:04] lgpage commented on #18
There are a few possible options we can take:
1) revert the merge of python_plots into the master branch and keep the new code on a separate branch until we iron out the functionality and bugs (well documented in http://git-scm.com/blog/2010/03/02/undoing-merges.html)
2) keep the code as is and add wrapper functions to keep current functionality
3) create a completely stand-alone version of the ne

[2013-09-16 06:34] ibell commented on #7
I had not loaded the constants for the HS solver properly. The constants
are based on the CAS code rather than the fluid name (CAS code is stable,
will never change).  But for one section of code I was still trying to load
using the fluid name, which clearly failed.

On Mon, Sep 16, 2013 at 12:33 AM, jowr notifications@github.com wrote:

[2013-09-16 06:37] ibell commented on #18
Now that I have merged both the unit-handling code and the plots, the
easiest would be to just write the wrapper functions for backwards
compatibility.  So I propose we do that.  Do you want to do this, or should
I?

On Mon, Sep 16, 2013 at 4:04 AM, lgpage notifications@github.com wrote:

[2013-09-16 10:03] lgpage commented on #18
I'll get right on this.

[2013-09-16 10:16] ibell commented on #18
Much obliged, I'm a bit stuck for the moment since I have a lot of code
that is dependent on the ph and Ts plots in particular.  Though it would be
nice to put back all the others as well.

On Mon, Sep 16, 2013 at 12:03 PM, lgpage notifications@github.com wrote:

[2013-09-16 11:58] ibell opened #19 "REFPROP DLL and unicode"
can't load DLL in widows if C++ build is unicode

[2013-09-16 13:16] lgpage commented on #18
I've added wrapper functions for the Ts and Ph plots for now.
I will work on added all the others as well as the drawIsoLines functionality.

[2013-09-16 15:00] kaern opened #21 "Two-phase properties (Modelica Wrapper)"
Two-phase properties such as specific heat capacity at constant volume and speed of sound is missing compared to e.g. Modelica.Media.Water.StandardWater or ExternalMedia.Media.FluidPropMedium.

I need cv to get state properties from internal energy and density. I iterate for temperature such that
Residual = u_known - Medium.specificInternalEnergy(Medium.setState_dT(d_known,T))
using newton raphson

[2013-09-16 15:45] ibell commented on #21
Those properties are not included in the two phase region because they are
not defined for quality in the open interval (0,1).  At the phase
boundaries they should be fine.

There are alternative definitions of these parameters in the two-phase
region, but there are no thermodynamically consistent ways to define them
in the two-phase region.  If you could direct me to a reference that shows
how to

[2013-09-16 20:52] kaern commented on #21
I believe these partial derivatives are well defined at least in Modelica related literature, such as the phd thesis of Hubertus Tummescheit or Christoph Richter. However, I say our friend Matthis Thorade gives the best explanation of how to establish partial derivatives in the two-phase region: http://rd.springer.com/article/10.1007%2Fs12665-013-2394-z
He explicitly shows how to compute cv. It is

[2013-09-16 21:23] kaern commented on #21
By the way.. I would really appreciate A LOT to have these derivatives available, such that I can use TTSE for my two-phase flow modeling.. I believe the derivatives are most easily computed in the Modelica Wrapper, rather than in Modelica it self, and should be of no additional overload...  Hope to hear from you soon..! Thanks in advance..!

[2013-09-16 21:36] ibell commented on #21
Ok, I'll see about implementing them - if you wanted to help with the
coding in c++ that would be good.  Check out the CPState.h header and the
CPState.cpp file in the CoolProp folder.  You'll see the other nasty
derivatives of drhodp_consth and drhodh_constp in the two-phase region.  I
have no objection to implementing these derivatives, but I have a lot of my
plate right now.

On Mon, Sep 16, 20

[2013-09-18 08:42] kaern commented on #21
Hi Again, I have shown how to compute these analytical derivatives in Modelica and I will get help from Jorrit to implement them in C++ quite soon I think...

[2013-09-18 08:46] ibell commented on #21
That's good - the best would be if you were to open a branch for your code
and then we can pull it back into the master when we've taken a look.
Jorrit will know what the things I just said mean :)

On Wed, Sep 18, 2013 at 10:42 AM, kaern notifications@github.com wrote:

[2013-09-18 10:52] ibell commented on #19
Fixed in revision 699b31e690ee18a67ff81b708b0d827553b25e02

[2013-09-18 10:52] #19 closed, assigned to ibell

[2013-09-18 11:16] ibell opened #22 "Improve examples"
For python there is a decent amount of information online, but for other languages there is almost no documentation.

What I would like to see for all languages that we support are example files where we show all the functionality of CoolProp.  These files would be integrated into the documentation build as well, providing a further means of validation.

In practice though, I think we need to limi

[2013-09-19 08:34] jowr opened #23 "Saturation temperature in coolpropsolver.cpp"
In the Modelica wrapper, saturation temperature is defined as bubble line temperature. Shouldn't this rather be a computed value? Tsat = (TV - TL) \* _Q + TL does anyone see any problems with such a formulation?

[2013-09-19 16:00] jowr opened #25 "Open for discussion: Two-phase properties"
Thanks to Martin's initiative, we now have some more values that can be calculated in the two-phase region. However, some of the make sense because they have a thermodynamic definition (speed of sound, cv, ...), but others are some kind of arbitrary. I now added a linear interpolation in some cases.

I attached a picture with graphs generated for water and a comparison with the standard implementa

[2013-09-19 17:23] ibell commented on #25
My feeling is that it is fine to implement and use any of the definitions
that are thermodynamically based, like cv or speed of sound for instance.
Otherwise, my preference would be to add a flag.

For the transport properties we should weight 1/eta  by the quality so
1/eta = x/eta_v+(1-x)/eta_l, and weight the thermal conductivity linearly.
Perhaps that should happen in the Modelica wrapper, but

[2013-09-19 17:52] ibell commented on #18
Ok, fixed to my satisfaction in revision fd95705bbb4be2d548dafafda3a9bc07588d9086

[2013-09-19 17:52] #18 closed, assigned to lgpage

[2013-09-19 18:17] ibell opened #26 "Build Pseudo-pure R407F eos"

[2013-09-19 18:17] ibell opened #27 "h-Hexane viscosity"

[2013-09-19 20:16] kaern commented on #25
I say the cv and a should be there surely, because their mathematical definition make sense, similar to drhodp_consth and drhodh_constp, eventhough they physically do not, only for homogeneous fluid as far as i know.

cp, kappa and beta cannot be mathematically evaluated in the two-phase region. I am not sure why Modelica.Media.StandardWater uses a linearization of these partial derivatives that c

[2013-09-20 10:04] jowr commented on #25
OK guys, I now included cv and speed of sound in the standard calculation procedures for two-phase properties. All other values return -_HUGE since they are not defined. In case you need them, you can now turn on the "enable_EXTTP=1" switch on the Modelica wrapper. I attach a picture showing the twp-phase region of water as calculated from CoolProp2Modelica with default settings, standard water im

[2013-09-20 12:15] ibell opened #28 "REFPROP and mixtures problems"
When using refprop mixtures I face an issue with wrong enthalpies and other values.
Predefined mixtures as pseudo pure liquids CP/RP work beautifully out of the box with my diagram generator, see attached file.

here an example:
I wanted to plot a p-h Diagram and get the Enthalpies for the start of the
saturation curves, left bottom and right bottom. They differ from Refprop values!
my boudaries a

[2013-09-20 12:46] ibell commented on #28
I have verified the problem exists, though I get different values.  I thought originally it was just a reference state problem, but that doesn't seem to be the case.

[2013-09-20 12:50] jowr commented on #28
No, neither is it connected to mass fraction / mole fraction conversion. The values I get are:

[code]

for hlb, hrb and h200...

[2013-09-20 12:55] ibell commented on #28
Using C++ from master I get:

[code]

256.29664842979935 425.13997290037872 224.35239089502571

There is clearly something odd going on. ( I fixed temperature rather than pressure, but anyway)

@jowr, are you using REFPROP 9.1 or 9.0?

[2013-09-20 12:57] ibell commented on #28
We should all check temperature and densities as well for liquid and vapor to see if those come out the same.  Enthalpies are trickier due to the reference state issues

[2013-09-20 13:05] jowr commented on #28
I am not sure. I think I use 9.1

[2013-09-20 13:42] jowr commented on #21
I guess this is solved.

[2013-09-20 13:42] #21 closed, assigned to nobody

[2013-09-21 19:28] ibell commented on #27
Fixed in revision 7158ff804df51d55988faa49105d6f73b7f3cb8b

[2013-09-21 19:28] #27 closed, assigned to nobody

[2013-09-21 19:40] ibell commented on #28
Seems like a bug in REFPROP related to the handling of the reference state since the densities are spot on for all three inputs between CoolProp+REFPROP and REFPROP GUI.

[2013-09-21 19:51] ibell commented on #28
Fixed in revision 0518d962a269fc83520ba14434f43e82be7c2406

[2013-09-21 19:51] #28 closed, assigned to ibell

[2013-09-21 19:52] ibell commented on #23
But what about mixtures?  They don't have a "saturation temperature".

[2013-09-21 20:46] ibell commented on #17
Fixed in revision c612de715ee45549cbda24cf2775e524b783f4ed

[2013-09-21 20:46] #17 closed, assigned to ibell

[2013-09-21 20:48] ibell commented on #1
Fixed

[2013-09-21 20:48] #1 closed, assigned to nobody

[2013-09-22 15:16] ibell commented on #26
Built as of revision d9c871e9ff157dddbd40fb522f353604c6a0d6f5

[2013-09-22 15:16] #26 closed, assigned to ibell

[2013-09-22 18:13] kaern opened #31 "TTSE functioning"
All of a sudden, for some reason, I can't get TTSE to work. Can somebody validate its results..?

[2013-09-22 18:21] ibell commented on #31
Perhaps I broke something :/ Can you tell me what has broken?  Do you get
an error message?

On Sun, Sep 22, 2013 at 8:13 PM, kaern notifications@github.com wrote:

[2013-09-22 18:25] ibell commented on #31
Try deleting the TTSE data maybe

On Sun, Sep 22, 2013 at 8:20 PM, Ian Bell ian.h.bell@gmail.com wrote:

[2013-09-22 18:31] kaern commented on #31
I am not in front of my laptop now, but i got constant values totally out of range when expecting phase transition... I am not sure how to delete the TTSE data...

[2013-09-22 18:56] jowr commented on #31
I'll check with Martin tomorrow...

[2013-09-23 14:55] ibell opened #32 "Support Secondary Working Fluids in CoolPropStateClass"
This is going to be annoying, but very useful, especially for me and my uses in ACHP and elsewhere.

[2013-09-23 16:13] jowr commented on #32
The coming implementation of Brines will be prepared for that... This feature is on my list as well ;-)

[2013-09-23 18:55] ibell commented on #32
Excellent.  Do you have any idea of an estimated time that this might be
ready?

On Mon, Sep 23, 2013 at 6:13 PM, jowr notifications@github.com wrote:

[2013-09-23 19:59] ibell commented on #31
Any update here?

[2013-09-23 21:08] jowr commented on #31
No updates, it does not work and I cannot figure out why...

##

Jorrit Wronski
DTU Mechanical Engineering

Technical University of Denmark
Department of Mechanical Engineering
Nils Koppels Allé
Building 403 Room 111
2800 Kgs. Lyngby

phone: +45 45 25 41 83
email: jowr@mek.dtu.dk
http://www.tes.mek.dtu.dk/English

---

From: Ian Bell [notifications@github.com]
Sent: 23 September 2013 21:59
To: ibe

[2013-09-23 21:16] ibell commented on #31
Can you give me a point that fails?  I am using TTSE right now, seems ok by
me.  Try updating the TTSERev macro in TTSE.cpp?  That should force it to
rebuild the tables.

Ian

On Mon, Sep 23, 2013 at 11:09 PM, jowr notifications@github.com wrote:

[2013-09-24 08:17] jowr commented on #31
Hmmm, the latest master revision works for me...

[2013-09-24 09:16] kaern commented on #31
Hi again,

Now I learned how to delete the table data, and I see the new one is not created, that means the TTSE functioning is still not working???

[2013-09-24 09:47] ibell commented on #31
You are using modelica, right?  I seem to recall that @jowr had a
similar problem at one point.  He says the master version of CoolProp
works fine with TTSE.  And for me it works fine too.

On 9/24/13, kaern notifications@github.com wrote:

[2013-09-24 10:38] kaern commented on #31
I tried to use TTSE in python and it works. The Modelica wrapper does not work however.

[2013-09-24 10:54] ibell commented on #31
I'm going to have to pass off to @jowr then

On Tue, Sep 24, 2013 at 12:38 PM, kaern notifications@github.com wrote:

[2013-09-24 11:35] kaern commented on #31
Hi again,

Now I went through the revisions made. I found that revision

Secant obeys the maxiter parameter (e0caf83927e130a34d7725253e7c15a6e9aa19a4)

works, but

Improvements to solvers at low pressure/temperature (4514f657be6966afe0e2660ea8f76e73f5752184)

does not.. While looking at the code in above revision "Improvements to solvers at low pressure/temperature" I cannot understand what should

[2013-09-24 11:39] ibell commented on #31
What fluid are you using?  There are some seriously unpleasant numerical
problems at low pressure/ temperature for quite a few fluids.

Ian

On Tue, Sep 24, 2013 at 1:35 PM, kaern notifications@github.com wrote:

[2013-09-24 11:44] kaern commented on #31
Good call, I see now the propane (which worked in python) does also work in Modelica, but water does not..
I will try look deeper into what line causes the error..

[2013-09-24 11:50] kaern commented on #31
It seems to be the line:
-        Tsat = Secant(&SPGR,Tsat,1e-4,1e-7,50,&errstr);
-        Tsat = Secant(&SPGR,Tsat,1e-2*Tsat,1e-8,50,&errstr);

I will try to use newest revision at change this line..

[2013-09-24 12:02] ibell commented on #31
Which one works?  The tolerance of 1e-8 might be problematic I guess.  At
some point I want to figure out a more robust method for low pressure.  So
many nasty numerical problems = Many nights of lost sleep.

On Tue, Sep 24, 2013 at 1:50 PM, kaern notifications@github.com wrote:

[2013-09-24 12:09] kaern commented on #31
Hi again, I was wrong first, sorry.. the above line works in newest revision..

I found the error to be the line:
-    while (fabs(error) > 1e-10 && fabs(change/rho)>DBL_EPSILON*10)
-   while (fabs(error) > 1e-10 && fabs(change)>1e-10)
  which I changed back to the previous..

I don't know what exactly happens in this line, but you may want to optimize it..?
And now you can close this issue..

[2013-09-24 12:10] #31 closed, assigned to nobody

[2013-09-24 12:11] ibell commented on #31
Sorry, can you confirm that everything works ok with code in master? If so,
feel free to close the ticket

On Tue, Sep 24, 2013 at 2:09 PM, kaern notifications@github.com wrote:

[2013-09-24 12:19] thorade commented on #23
@jowr For pure fluids you have Tsat=TV=TL so using the bubble line temperature would be fine in that case

[2013-09-24 12:21] ibell commented on #23
But we also have to worry about psedo-pure mixtures, for which it is not
true that Tsat=TV=TL.

On Tue, Sep 24, 2013 at 2:19 PM, Matthis Thorade
notifications@github.comwrote:

[2013-09-24 12:47] jowr commented on #23
Exactly, that is why I think we should use the quality weighted temperature...

[2013-09-24 13:10] ibell commented on #23
But, the temperature is not quality weighted in the two-phase region.  It's
close, but not exactly.

On Tue, Sep 24, 2013 at 2:47 PM, jowr notifications@github.com wrote:

[2013-09-24 13:14] thorade commented on #23
Yep, sorry, I forgot you also treat pseudo-pure and I should remember not to post on the internet during my after lunch fatigue.

[2013-09-24 13:16] ibell opened #34 "Removal/Modification of titles from property plots"
The titles are sometimes nice, but for cases like this, I would prefer that they be removed.  In general, perhaps just put the fluid name?  From the axis labels it should be clear what is being plotted, right?

![figure_1](https://f.cloud.github.com/assets/1859947/1199897/b6c14d16-251a-11e3-851f-3efedb465d85.png)

[2013-09-24 13:47] ibell opened #35 "Can't change title when using PropsPlot class"
When using this code, I still end up with the default title.  This is related to issue https://github.com/ibell/coolprop/issues/34

[code]

[2013-09-24 14:26] ibell commented on #35
This could be resolved by adding a `draw()` method to the PropsPlot class (or better to the base class), which you could use to draw the figure, and then tweak to your heart's content

[2013-09-24 16:08] lgpage commented on #35
I was planning on creating simple wrappers for that (title, xlabel, ylabel, etc.) in the base class, so the usage would be:

[code]

I'll look at getting this done by the end of the week.
For now you can do the following that should work:

[code]

[2013-09-24 16:11] lgpage commented on #34
Oh wow that is a mess :)
Can you post the source for this example.

[2013-09-24 19:05] ibell commented on #34
[code]

[2013-09-24 19:06] ibell commented on #35
+1 for the wrappers!

Yeah I figured out about the _draw_graph() function as well.

[2013-09-24 20:39] #8 closed, assigned to nobody

[2013-09-25 06:14] jowr commented on #32
No idea, the basic structure is almost done (see branch), but I still lack the integration with the State class...

[2013-09-28 15:04] ibell opened #36 "HAProps in CoolProp.i for wrapping to other languages"

[2013-09-30 19:17] ibell commented on #6
Fixed in revision 43936033597ac9ba0bf96a64c762c595c18308e1

[2013-09-30 19:17] #6 closed, assigned to ibell

[2013-09-30 19:17] #36 closed, assigned to nobody

[2013-09-30 19:54] ibell commented on #4
@squoilin can you please check this?

[2013-10-01 12:17] lgpage commented on #34
I get the following error for this example:
`ValueError: CoolProp error: Could not load librefprop.so, make sure it is in your system search path.`

Not sure why, or if I did something wrong.

[2013-10-01 12:34] lgpage commented on #35
Should be fixed with 4a047de0b9b933c7e941ed2b4ee84d62034b8fa4

[2013-10-01 12:34] #35 closed, assigned to lgpage

[2013-10-01 12:35] lgpage commented on #34
Added a title filter for `REFPROP-MIX` fluids (0c8f734c92d3121d09657ac8bbf5c6768e2d1cd6)

[2013-10-02 08:32] squoilin commented on #4
It does not seem to work in Windows. The function Medium.isentropicEnthalpy(p_out,state_in) crashes the console.

[2013-10-02 09:46] Rod-Persky opened #37 "makefile or instructions for building c++ libraries using gcc on linux"
It is fairly straight forward to use the build scripts for most environments, however it would be helpful to get a script for building the CoolProp library files for importing into C++ programs.

[2013-10-02 09:58] ibell commented on #37
Do you want a static library (you probably do)?  If so, check out the build
script in the wrappers/StaticLibrary folder.  I can bake one for GCC as
well.  You have to make sure that CoolProp and your software are compiled
with the same runtime libraries, which is why I build four versions of the
static library for visual studio.

Ian

On Wed, Oct 2, 2013 at 11:46 AM, Rod Persky notifications@githu

[2013-10-02 12:15] Rod-Persky commented on #37
I have a small makefile working, this is tested against a small program that simply gets the fluid index from the library. The makefile generates a shared library (.so) rather than a static library (.a),  that's the only way I've used library up to now.

The makefile (the make command) needs to be run in the CoolProp source directory where make builds libCoolProp.so.3.3.0 and sudo make install cop

[2013-10-02 17:15] ibell opened #38 "getting ASHRAE 34 code doesn't work anymore"

[2013-10-04 09:08] ibell opened #39 "Derivative terms for smoothing of density in 2phase broken"
Not clear exactly where the unit problems are, but it seems there are unit problems somewhere.  For both derivatives of smoothed density and smoothed derivatives

[2013-10-04 10:06] ibell opened #40 "TTSE inputs (P,T) out of range throw error, but should just use EOS"

[2013-10-04 10:16] ibell commented on #37
Hi Rod, that is really nice!  What would maybe improve it would be if you could provide the path to the source files directly so that we could put it in a wrappers/Linux folder or something like that.  @jowr what do you think?  Also it would be great if you could use a compiled (python?) version of CoolProp to pull the version number rather than hardcoding it.  Apart from that, looks good.  I can

[2013-10-04 10:26] ibell opened #41 "Documentation of the functions in CoolProp.h"

[2013-10-04 10:27] jowr commented on #37
Yes, it looks good. Rod, maybe you can get some more inspiration from this file:
https://github.com/ibell/coolprop/blob/master/wrappers/Modelica/makefile

It is the makefile I use for building a library for Modelica and I reckon that the build process for C++ should be very similar. Unfortunately, I also miss a smart solution for the version number information.

[2013-10-04 10:28] Rod-Persky commented on #37
Ian,

the following will get the version - sorry I couldn't get it working last night.

[code]

@jowr I'll rewrite it to the Modelica format

[2013-10-04 15:51] Rod-Persky commented on #37
More in the style of the Modelica makefile, there are a few options that may come in handy such as DEBUG=debug and LIBTYPE=[so,a]. Not quite finished, but it's building just fine.

https://gist.github.com/Rod-Persky/6828026

[2013-10-05 13:36] ibell commented on #38
Fixed in rev bf1602c304a8ef775c00ad3655afc9dbb31ab43a

[2013-10-05 13:36] #38 closed, assigned to ibell

[2013-10-05 15:18] #37 closed, assigned to nobody

[2013-10-08 14:06] Rod-Persky commented on #22
@ibell,

How do you see the examples linking to one another? I can write a few for C++.

Rod

[2013-10-09 19:05] ibell commented on #22
I ideally want to demonstrate all the features of CoolProp in each wrapper,
including, (help me fill this out)
1. Single phase inputs
2. Show all the possible two state variable inputs
3. Enable TTSE, use it (bicubic too)
4. Switch unit systems
5. Humid air properties
6. Calling liquids, brines, pure and pseudo-pure fluids
7. Calling REFPROP

On Tue, Oct 8, 2013 at 4:06 PM, Rod Persky notification

[2013-10-09 21:20] jowr commented on #32
As agreed on this week, @ibell now owns this issue. Congrats!

[2013-10-09 21:23] ibell commented on #32
I'll hack away - should be ready-ish soon

On Wed, Oct 9, 2013 at 11:20 PM, jowr notifications@github.com wrote:

[2013-10-09 21:32] jowr opened #45 "Brines I"
Move old brine and solution data to new object structure.

[2013-10-09 21:33] jowr opened #46 "Brines II"
Include all fluids from SecCool software.

[2013-10-09 21:35] jowr opened #47 "Brines III"
Include Lithium-Bromide solution properties from:
http://www.sciencedirect.com/science/article/pii/S0140700700000396

Wouldn't it be nice with some absorption chiller calculations in the examples?

[2013-10-09 21:41] jowr opened #48 "Modelica wrapper"
Clean up the Modelica code to make it standard-compliant. @ibell: What was the compiler switch for Dymola again?

Who wants to do that?

[2013-10-09 21:56] squoilin commented on #48
I can take that

[2013-10-09 21:58] ibell commented on #48
So I'd like to ask a bigger question - should we keep our wrapper or just
bake everything into ExternalMedia?

On Wed, Oct 9, 2013 at 11:56 PM, squoilin notifications@github.com wrote:

[2013-10-09 22:04] ibell commented on #48
And push the improvements we have made to CoolProp2Modelica into
ExternalMedia?

On Wed, Oct 9, 2013 at 11:57 PM, Ian Bell ian.h.bell@gmail.com wrote:

[2013-10-09 22:06] jowr commented on #48
As far as it's C++, I think everything should be merged. However, we have to solve this one first: https://github.com/ibell/coolprop/issues/4

[2013-10-09 22:10] jowr commented on #32
@ibell: Would be nice to get some feedback on the new class structure before you use your time on the state class. https://github.com/ibell/coolprop/tree/brines_solutions

[2013-10-09 22:14] squoilin commented on #48
We should move to externalmedia asap. Do we have the proper rights on the repository now?

I will list the successive modifications we made to coolprop2modelica and see how compatible they are with the actual version of externalmedia.

In the meantime, we can keep bringing modifications to coolprop2modelica.

Ian, could you go in my office, create an administrative account for jorrit on the server

[2013-10-09 22:33] ibell commented on #48
The c++ part has been pushed to ExternalMedia, I havent tested it yet, but
it compiles ok, you can get the code (read-only) from
https://github.com/modelica/ExternalMedia, but I can push to svn now as
well.  You should both request access to the svn repo in order to push your
changes

On Thu, Oct 10, 2013 at 12:14 AM, squoilin notifications@github.com wrote:

[2013-10-09 22:33] ibell commented on #48
@squoilin which compiler flags are you talking about?  For VS? Or GCC?

[2013-10-09 22:34] ibell commented on #48
And @squoilin , I will get Jorrit onto the server tomorrow.

[2013-10-09 22:36] jowr commented on #48
@ibell: I meant the options to turn on Modelica standard compatibility checks in Dymola.

[2013-10-09 22:40] ibell commented on #48
Ah right, you know where to turn on the pedantic check?  Its in the solver options window

[2013-10-10 09:04] ibell commented on #32
I'll take a look tonight - have some work to do today.

Ian

On Thu, Oct 10, 2013 at 12:10 AM, jowr notifications@github.com wrote:

[2013-10-10 13:20] ibell commented on #11
Any further thoughts on this one?

[2013-10-10 13:22] ibell commented on #3
Ok, what we need to do is to try to load REFPRP64.DLL if we are 64-bit compiled, REFPROP.dll otherwise.  Not sure how this should be handled

[2013-10-10 13:24] ibell commented on #22
@Rod-Persky what I imagine is that we just have one file for each language that runs all the same examples.  I started working on this, but never got very far.  It's a maintenance nightmare...

[2013-10-10 13:28] ibell opened #49 "Move exttp back into Modelica code"
@jowr What do you think about moving the EXTTP code just back into the Modelica code?  Originally that's what I thought we were going to do.  I suppose it is fine as is, but it also seems the enable/disable functions are not implemented in the CPSSI class, which gave me some compiler errors which is why they are currently commented out.  We need to figure out what to do here.

[2013-10-10 13:30] ibell commented on #34
@lgpage You got that error because REFPROP is not installed (or installed improperly).

Can we close this ticket?

[2013-10-10 14:52] ibell commented on #41
In revision 6ea6c52e85e6d34075e8168d4f16ea2f757ded6c

[2013-10-10 14:52] #41 closed, assigned to ibell

[2013-10-10 15:00] jowr commented on #49
Yes, can do. I'll have a look after my holidays. @squoilin might also have a look at this if time allows.

[2013-10-10 22:57] #34 closed, assigned to lgpage

[2013-10-10 23:23] ibell commented on #3
Fixed in revision 0623efc12909699d20f8d798a9e658931226c76c

[2013-10-10 23:23] #3 closed, assigned to nobody

[2013-10-11 09:45] lgpage commented on #34
That would make sense.
Out of interest is there a Coolprops equivalent that doesn't use REFPROP ?

[2013-10-11 09:49] ibell commented on #34
Ask me again in a few months when we have mixtures working, but for now,
no, this should only be a problem with this REFPROP. In general my
preference is to have the default behavior be x- and y-axis labels and no
title

On Fri, Oct 11, 2013 at 11:45 AM, lgpage notifications@github.com wrote:

[2013-10-13 19:04] ibell opened #50 "Combine REFPROP mixtures and TTSE"

[2013-10-13 20:53] ibell commented on #22
Python and MATLAB in rev 9f3106f14daa2d73421738e1c47a731ef5c65174

[2013-10-14 16:58] ibell opened #51 "Improved documentation for new plotting functionality"
Hey @lgpage, @jowr et al., we are preparing to release CoolProp 4.0 in early November and I was hoping that you might have a moment to add some examples of how to use your new plotting functionality to the documentation.  It would be great to have a page that covers all the options available and shows examples.  We have docs for the API interface but I'd like a bit more.

[2013-10-14 17:55] lgpage commented on #51
Cool will do... these examples go in the `Web/examples/examples.rst` file right

[2013-10-14 17:58] ibell commented on #51
Could do, my idea was a teaser with one or two nice examples, then a link
pointing over to a new page of docs on plots, showing off all the features,
pitfalls, dangers, possibilities, etc., which would be something like
Web/examples/plotting.rst or something like that

On Mon, Oct 14, 2013 at 7:55 PM, lgpage notifications@github.com wrote:

[2013-10-14 18:02] lgpage commented on #51
Cool I'll start putting together a `Web/examples/plotting.rst` file with the examples

[2013-10-14 18:55] ibell commented on #51
Awesome, looking forward to seeing them! Have you played around with
building the docs before using sphinx?

Ian

On Mon, Oct 14, 2013 at 8:02 PM, lgpage notifications@github.com wrote:

[2013-10-15 09:40] lgpage commented on #51
I've only played around with using Epydoc, but I'll look into using sphinx.

[2013-10-15 09:45] ibell commented on #51
It's not too painful, you can start by copy-pasting the current examples
from the examples page and hacking away - that's how I taught myself

On Tue, Oct 15, 2013 at 11:40 AM, lgpage notifications@github.com wrote:

[2013-10-15 12:24] lgpage commented on #22
Shouldn't the python print statements be updated for python 3.x

[2013-10-15 12:26] ibell commented on #22
yup, please do - where do you see the old print statements?

On Tue, Oct 15, 2013 at 2:24 PM, lgpage notifications@github.com wrote:

[2013-10-15 13:09] ibell commented on #22
Ah you mean in the python example I just made, right?  You are right about
that - I'll make the change seeing as how many users are on 3.x

On Tue, Oct 15, 2013 at 2:26 PM, Ian Bell ian.h.bell@gmail.com wrote:

[2013-10-15 13:20] lgpage commented on #22
I also get the following error msg:

[code]

[2013-10-15 13:24] ibell commented on #22
Ah, that's a very recent change I made of bringing all the constants into
the CoolProp main namespace - it was a pain to have to import the constants
module, I could never remember the syntax. I think I have pushed that
change already, so you might just need to recompile the python wrapper

On Tue, Oct 15, 2013 at 3:20 PM, lgpage notifications@github.com wrote:

[2013-10-15 13:26] lgpage commented on #22
That change on the master branch?
I tried recompiling the python wrapper but still get that error

[2013-10-15 13:41] ibell commented on #22
Should be ok now - the dangers of late-night coding! I made the changes
locally rather than in the source folder.  I pushed the fix

On Tue, Oct 15, 2013 at 3:26 PM, lgpage notifications@github.com wrote:

[2013-10-15 13:48] lgpage commented on #22
I updated and pushed the print statements for python 3.x

[2013-10-15 14:01] ibell commented on #22
Nice, thanks for helping with that

On Tue, Oct 15, 2013 at 3:48 PM, lgpage notifications@github.com wrote:

[2013-10-15 20:55] ibell commented on #39
Fixed in rev 6ad31d6883fa7e8d5b19669298010a8f681526f8

[2013-10-15 20:55] #39 closed, assigned to ibell

[2013-10-16 17:28] thorade commented on #48
You can also turn on/off the pedantic check using the flag `Advanced.PedanticModelica=true`  in the command window, as described here: http://stackoverflow.com/q/17276571/874701
You should also try the `Hidden.PrintFailureToDifferentiate=true` flag, it will show you where numerical Jacobians are introduced.

[2013-10-16 17:41] thorade opened #52 "calculate derivative (∂²p/∂ρ²)_s"
If at some point you do not know what else to implement, you could add the derivative (∂²p/∂ρ²)<sub>s</sub> or (∂²p/∂v²)<sub>s</sub> which is used to calculate other properties e.g. in these papers:
- http://dx.doi.org/10.1016/j.fluid.2009.07.021
- http://dx.doi.org/10.1063/1.2759533
- http://dx.doi.org/10.1016/j.fluid.2012.09.017

[2013-10-16 19:06] ibell commented on #52
I know those guys at Delft, I'm firewalled right now but Ill take a look on
Friday.  Also, no one is stopping you if you wanted to make the changes
yourself :) .  It should be added to the CoolPropStateClassSI class in
CPState.h/cpp, and a unit conversion overload in CoolPropStateClass.

Ian

On Wed, Oct 16, 2013 at 7:41 PM, Matthis Thorade
notifications@github.comwrote:

[2013-10-16 19:09] ibell commented on #47
Yes, yes it would.  That would be awesome.  One step at a time :)

[2013-10-16 20:41] ibell commented on #22
Fixed in rev 6ad31d6883fa7e8d5b19669298010a8f681526f8

[2013-10-16 20:41] #22 closed, assigned to nobody

[2013-10-17 12:00] lgpage opened #53 "Problem with iso-enthalps"
@ibell @jowr please can you help me debug the following sample code, I'm not sure if the error I am getting is due to the code changes I made in the plotting package or due to something else.

[code]

The error I get is
`ValueError: CoolProp error: Inputs in Brent [113,730000,392,481449] do not bracket the root.  Function values are [268331,802491,586497,269690] :: inputs were:"T",'H',1.0000000000

[2013-10-17 20:39] ibell commented on #53
Are you close to the critical point?  Sometimes the h-s solver fails quite
close to the critical point...

On Thu, Oct 17, 2013 at 2:00 PM, lgpage notifications@github.com wrote:

[2013-10-17 22:21] ibell opened #54 "Polish work and integration of FLUENT wrapper (and OpenFOAM?)"
@lgpage We put together a wrapper of Coolprop for FLUENT, I think I remember seeing you were doing stuff with OpenFOAM.  Want to help me build/test a wrapper for CoolProp for OpenFOAM?

[2013-10-17 23:04] lgpage commented on #54
Yeah that would be awesome... I've thought about this a few time... also
got 1 or 2 students at the university that would benefit from this.

On Fri, Oct 18, 2013 at 12:21 AM, Ian Bell notifications@github.com wrote:

[2013-10-17 23:05] lgpage commented on #53
I'll look at bit more closely at this tomorrow again.

On Thu, Oct 17, 2013 at 10:39 PM, Ian Bell notifications@github.com wrote:

[2013-10-18 07:23] ibell commented on #54
Maybe we can all work together on this?  It wasn't too painful to get it
working for FLUENT, took just two hours to get a simple example working.
Is there a mailing list for OpenFOAM?

On Fri, Oct 18, 2013 at 1:04 AM, lgpage notifications@github.com wrote:

[2013-10-18 09:40] lgpage commented on #54
OpenFoam itself does not have a mailing list as far as I know. However the extend OpenFoam project would probably be the best place  (http://www.extend-project.de/community-organisation/21/69/view/article) or the cfd-online forums (http://www.cfd-online.com/Forums/openfoam-programming-development/)

A few thoughts on this from my side:
- We might have to look at maintaining version specific wrappe

[2013-10-18 09:47] ibell commented on #51
@lgpage Your branch looks excellent

One small comment, I prefer if you don't use plt as the name of the instance of your PropsPlot as it is standard to do

[code]

which would over-write this import.

Also, there is some missing text in the warning (see below).  Apart from that, I'm ready to pull and close this issue

Missing text:

![clipboard01](https://f.cloud.github.com/assets/1859947/1359304

[2013-10-18 09:57] lgpage commented on #51
I'll update the docs and change `plt` to something else.
The missing text is what I am going to finish up today, ran out of time yesterday

[2013-10-18 10:17] ibell commented on #51
No problem, it looks excellent otherwise.  One other thing regards the
subplots at the bottom - it's a bit weird to have the last plot in the
bottom right, but that's me being pedantic.

On Fri, Oct 18, 2013 at 11:57 AM, lgpage notifications@github.com wrote:

[2013-10-18 10:18] ghost opened #55 "Frozen point (% etylhene glycol / % propylène glycol + Water)"
hello,

how can I calculate the the frozen point of a mixing water+glycol (ethylene glycol / propylene glycol), in function of the % (in mass) of glycol ?

Sincerely,
PY

[2013-10-18 13:21] lgpage commented on #51
Following changes where made:
- `plt` name changed
- finished missing text
- fixed location of the last subplot
- merged with master 5eade09330425581b4cb17e33272f595e15abcc5

[2013-10-18 13:31] ibell commented on #51
_Que bueno_ - want to make a pull request and I'll accept it?  Also, can you tidy up the branches you made on github?  There are a few floating around...

[2013-10-18 13:47] lgpage commented on #51
I have already merged these changes into the master branch.
I will tidy up the other branches as well :D

[2013-10-18 14:04] lgpage opened #56 "Inline Labels - Python Plotting"
In-line Labels for iso-lines are currently broken.
Checklist for this:
- ~~get in-line label code to work~~ (removed old code - e10d463c9bedda8a4d82d8dfc7c9240e92e03749)
- ~~clean up current code~~ (removed old code - e10d463c9bedda8a4d82d8dfc7c9240e92e03749)
- ~~add basic in-line labels that rotate with the line gradient~~ (e6e89c3266934d4104e65cfac5134768228303c7)
- add methods for in-line label

[2013-10-18 14:09] lgpage opened #57 "Interactive Plot - Python Plotting"
Look into creating an interactive plot / graph that shows all fluid properties at the mouse cursor or where the user clicks on the graph.

[2013-10-18 14:47] ibell commented on #51
Excellent. Closed.

[2013-10-18 14:47] #51 closed, assigned to lgpage

[2013-10-18 14:54] ibell commented on #56
Shall we move this to 4.0?

[2013-10-18 14:57] ibell commented on #55
Hi PY,

Its not perfect, and will improve in 4.0, but for now you can do:

[code]

where the inputs for T and P are ignored and you set the concentration using the string.

[2013-10-18 14:57] #55 closed, assigned to nobody

[2013-10-18 15:37] ibell opened #58 "CoolProp + Scilab"

[2013-10-18 15:38] lgpage commented on #56
Let me first see how far I can get with this in the next week before moving it to v4.0

[2013-10-23 09:41] jowr commented on #48
Thanks Matthis!

[2013-10-23 09:46] jowr commented on #47
I changed my mind. This article seems to be more like what we need: http://dx.doi.org/10.1016/j.ijrefrig.2005.10.007

The authors were so kind to provide some source code, should be straight forward to implement.

[2013-10-23 09:56] jowr opened #59 "Ammonia/Water systems"
For absorption and Kalina cycles, Ammonia-Water mixtures are important. Even though we do not handle mixtures, I think this
http://dx.doi.org/10.1016/0140-7007(95)00006-W
could be a preliminary approach.

[2013-10-23 15:04] lgpage commented on #56
anyone know of an easy way to test if two `matplotlib` `text` objects overlap?
I have a solution in mind, but it will require some coding, so If you know of a simple solution please let me know.

[2013-10-23 15:14] ibell commented on #56
You can get the bounding box for each and then check the minimum and
maximum values I think.

On Wed, Oct 23, 2013 at 5:04 PM, lgpage notifications@github.com wrote:

[2013-10-24 12:07] jowr commented on #45
@ibell : Can anyone help me understand the coefficients for the freezing point calculations? Why are there non-zero coefficients that are multiplied with the current temperature? The freezing should only depend on concentration, shouldn't it?

[2013-10-24 14:47] ibell commented on #45
Not sure, Ill send you spreadsheet when I get home in 30 mins so you
can check the values.

On 10/24/13, jowr notifications@github.com wrote:

[2013-10-25 07:09] lgpage commented on #56
I tried looking into the bounding box of the text, unfortunately I cannot make heads or tails of the transform object that gets applied to the text and bbox. All I've been able to get is the local transform bounds between 0 and 1.
For now I'll carry on with the solution I have in mind and see what I can come up with.

[2013-10-25 14:59] jowr opened #60 "Polynomial evaluation performance"
The Horner-scheme is much faster for polynomial evaluation than the ordinary summation approach. However, it might be different when calculating an integral.

![equation](http://latex.codecogs.com/gif.latex?u%3D%5Csum_%7Bi%3D0%7D%5E%7Bn%7Dx%5E%7Bi%7D%5Ccdot%5Csum_%7Bj%3D0%7D%5E%7Bm%7D%5Cfrac%7B1%7D%7Bj%2B1%7D%5Ccdot+C_%7Bc%7D%5Bi%2Cj%5D%5Ccdot%5Cleft%28T_%7B1%7D%5E%7Bj%2B1%7D-T_%7B0%7D%5E%7Bj%2B1%

[2013-10-26 15:17] thorade opened #61 "Modelica wrapper: index reduction"
If you set `Hidden.PrintFailureToDifferentiate=true` then you will see that simple test models like this one

[code]

have numerical Jacobians, but they still simulate. Heavier models like this one

[code]

will fail with error message `Failed to reduce the DAE index.`. This will only happen when using BaseProperties, but most models in Modelica.Fluid use them.

[2013-10-26 15:20] thorade commented on #61
To fix this, this is how to use BaseProperties (using density as example):
- BaseProperties calls density_ph
- density_ph calls a function named e.g. `density_ph_state(p=p, h=h, state=setState_ph(p=p, h=h, phase=phase))` which has the same input as density_ph plus the input ThermodynamicState state.
- density_ph has an `annotation(Inline=true);` (the inlining will collect all calls to setState_ph

[2013-10-26 15:34] thorade commented on #61
PS: Should issues regarding the Modelica wrapper be filed here at coolprop?
Or at https://github.com/thermocycle/CoolProp2Modelica-library ?
Or even in the ExternalMedia issue tracker: https://trac.modelica.org/Modelica/query?component=_ExternalMedia ??

If I wanted to fix this myself, I guess I have to fork the CoolProp2Modelica-library, right? And then send a Pull request to @jowr ?

[2013-10-26 22:06] ibell opened #62 "Unit problems when fitting incompressible liquids"
I have fit preliminary properties for Dynalene HC-10 HC-20 HC-30 HC-40 HC-50, but there remain some problems in the curve fitting code.

I set the values in fit_incompressible.py to be consistent with the other fluids and the documentation and then changed the fluid that is imported in fit_incompressible.py to HC10 for instance.  The figures are not generated properly, and the units of the coeffic

[2013-10-27 08:52] jowr commented on #61
Hi Matthis, @ibell tries to merge CoolProp and ExternalMedia on a C++ level. I am not sure, but he might be finished already. For now, I think it is fine to report things here. As soon as we have better integration with ExternalMedia (mid November?), the best way is to follow your second suggestion and directly contact the Modelica people via Trac: https://trac.modelica.org/Modelica/query?componen

[2013-10-27 08:59] jowr commented on #62
I can see you fixed things in the code, great.

The problem is that I wrote the fitting functions before we changed everything to SI units. Hence, the fitting works in kJ/kg/K and so on. When we changed the units set, I updated the coefficient in the C++ file, but not the fitting procedures. Well, I guess we should do that soon.

I will have a look at the graphs, they should be working no matter w

[2013-10-27 10:12] ibell commented on #62
Except for the viscosity, which is giving some crazy values, and its not a
linear fit so I think I can't just multiply the constants by factors of
1000 ?

On Sun, Oct 27, 2013 at 9:59 AM, jowr notifications@github.com wrote:

[2013-10-27 12:08] ibell commented on #61
It's a work in progress.  The limitation is that I don't know the Modelica
side of things, but I have ported our C++ code back into ExternalMedia.  We
made a lot of improvements to the Modelica code, but these changes have not
been pushed back into ExternalMedia yet.  I'm still waiting for news from
the other developers on the ExternalMedia side of things.

On Sun, Oct 27, 2013 at 9:52 AM, jowr no

[2013-10-28 16:15] jowr commented on #45
Problems solved and old fluids ported to new structure.

The only question that remains is: What is HC-10 line 350 in Brine.cpp? It looks like a home-made fit by @ibell, but which name and description should the fluid get?

[2013-10-28 16:59] jowr commented on #45
OK, I assume it is Dynalene HC-10. I will just remove it from the solutions since it is a normal heat transfer fluid.

[2013-10-28 16:59] #45 closed, assigned to jowr

[2013-10-28 17:49] ibell commented on #62
@jowr, can you fix the viscosities for the Dynalene fluids?  You know the
ins and outs of the incompressible code better than I do

On Sun, Oct 27, 2013 at 11:11 AM, Ian Bell ian.h.bell@gmail.com wrote:

[2013-10-29 10:02] jowr opened #63 "Units, units, units"
Hi all

What is the status of our current unit handling? Am I wrong or is there something missing?

Why is thermal conductivity handled different than the rest? At least in Python, PropsU returns kW/m/K and not W/m/K.

Should this be fixed in Python or in Units.cpp? It also a little funny that only thermal conductivity is treated in Units.cpp...

[2013-10-29 10:04] jowr commented on #63
Since the function does not do that much, I excluded it from the incompressibles for now.

[2013-10-29 11:48] jowr commented on #63
OK, I did not see that there is no break; statement. Hence, conversion actually happens.

[2013-10-29 11:48] #63 closed, assigned to nobody

[2013-10-29 12:44] lgpage commented on #56
This is turning out to be more of a fight that I thought. I can have a manual label placement method done for v4.0, but I doubt that I'll be able to get an optimized label placement method (to minimize overlapping) done.

[2013-10-29 15:00] jowr commented on #62
I cannot see why you have problems with either plots or viscosity. I made the fits and updated the documentation.

[2013-10-29 15:00] #62 closed, assigned to jowr

[2013-10-29 15:17] jowr commented on #47
Removed from v4.0, I currently do not have the time.

[2013-10-29 15:17] jowr commented on #46
Removed from v4.0, I currently do not have the time.

[2013-10-29 18:38] #32 closed, assigned to ibell

[2013-10-29 18:40] ibell commented on #52
@thorade , Want to do this?  We could add it to 4.0

[2013-10-29 20:07] ibell opened #64 "On windows pow(int,int) and pow(double unsigned int) are not defined"
Just FYI for linux developers

[2013-10-29 20:34] jowr commented on #64
OK, should I change things or are you already working on it?

[2013-10-29 21:27] ibell commented on #64
I'll take care of it, current code is broken, but Ill fix it first thing
tomorrow morning.

Ian

On Tue, Oct 29, 2013 at 9:34 PM, jowr notifications@github.com wrote:

[2013-10-29 21:44] thorade commented on #52
As a very first step, here is how to rewrite derivatives with respect to density/volume:

![gasdynamics_dp2-dv2-t](https://f.cloud.github.com/assets/314571/1461016/c1a963f6-4489-11e3-80b5-bbccc579ac71.png)

and analogously also

![gasdynamics_dp2-dv2-s](https://f.cloud.github.com/assets/314571/1461026/cb7aedf8-448b-11e3-8795-96c16bc2c72a.png)

I'll try to find time to add these derivatives, but ma

[2013-10-29 21:53] ibell commented on #52
They just aren't very nice derivatives.  I think I can do it, it shouldn't
be too awful, I've done similar things before...  Its just not a priority
for me in my research

On Tue, Oct 29, 2013 at 10:44 PM, Matthis Thorade
notifications@github.comwrote:

[2013-10-29 22:05] jowr commented on #64
Done...

[2013-10-29 22:05] #64 closed, assigned to nobody

[2013-10-29 22:07] jowr commented on #49
I tried to fix it, but I had no success. Just tested on Windows for the first time and it doesn't work, works on Linux though...

[2013-10-30 08:30] thorade commented on #52
Same for me, I have already written them down on paper, but it is quite lengthy and I do not currently need these. I just saw them in these papers and thought they might be nice to have for people researching ORCs.

[2013-10-30 08:35] ibell commented on #52
I agree.  If you can formulate the derivatives in terms of things that are
already coded in the state class (
http://coolprop.sourceforge.net/_static/doxygen/html/class_cool_prop_state_class_s_i.html)
it would be very little work for me to take the remaining steps

Ian

On Wed, Oct 30, 2013 at 9:30 AM, Matthis Thorade
notifications@github.comwrote:

[2013-10-30 09:41] jowr opened #65 "Incompressible fluid viscosity"
Viscosity fits are of a rather poor quality. The simple equation exp(A/(T-B)+C) can describe the general trends. At high temperatures, many fluids exhibit a relative error of up to 100%, that is not really acceptable...
There are two ways out: use a polynomial with degree > 7 inside the exp function or use a Chebyshev Rational function, e.g. rank 4. The latter gives the best fit results but is a l

[2013-10-30 09:44] ibell commented on #65
I'm not afraid of higher order polynomials, but are there better models for
the viscosity of liquids?  Have you heard of Eureqa(http://www.nutonian.com/)?
You might want to take a viscosity dataset and chuck it in there and see
what comes out.  I had the same idea before, but they obviously have a much
better idea what they are doing than I do!

On Wed, Oct 30, 2013 at 10:41 AM, jowr notifications

[2013-10-30 10:44] jowr commented on #65
Interesting software, but I used another one. That is where the Chebyshev Rational suggestion comes from. For now, I updated the plots to include the relative error. I also added them to the source control again so everyone can see the plot quality for the fluids they are using...

I was a little too pessimistic. The worst fit is the one for T72 with an error of "only" 25%...

![fit_t72_std](https

[2013-10-31 15:10] jowr opened #66 "Python plotting"
Hi,
thank you for an improved plotting package! I currently convert my code to use the new functions and the following ideas came to my mind:
1. Unified approach to parameter handling: I think all functions should follow the structure of the most popular one, Props. Hence, functions like `_get_fluid_data(self, req_prop, prop1_name, prop2_name, prop1_vals, prop2_vals)` should rather be `_get_fluid_

[2013-10-31 16:37] thorade commented on #52
![gasdynamics_transform](https://f.cloud.github.com/assets/314571/1461687/0beb1358-44c4-11e3-97c0-1164ae933094.png)

Here is an expression in terms of existing functions, might be shortened a little bit more using
(∂s/∂ρ)<sub>T</sub> = -1/ρ² (∂p/∂T)<sub>ρ</sub> .
Probably there are substantialy shorter expressions possible, but I currently do not see how to get there.
A pdf with intermediate steps

[2013-10-31 21:50] ibell commented on #52
Also see http://www.google.be/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&ved=0CDgQFjAB&url=http%3A%2F%2Frepository.tudelft.nl%2Fassets%2Fuuid%3A1fcb4772-a453-4c5a-b94c-c6a93c8cb6c2%2FColonna_2007.pdf&ei=DdByUovaGarS0QXFt4Fo&usg=AFQjCNH_DKZq0xJpUZtn2P7jF4RABK93ig&sig2=kJ9-yaCaU1SoUTCJvhpRlw&bvm=bv.55819444,d.d2k&cad=rja

[2013-10-31 23:20] ibell commented on #52
Added in revision 60e6a3e2c16b2dcb50fccb099991794dd82c9d8b

[2013-10-31 23:20] #52 closed, assigned to nobody

[2013-11-01 10:14] lgpage commented on #66
I agree 100% with these suggestions and as a general rule I try to allow for numpy arrray inputs were possible, I just haven't had the time to check this yet.
I'll look into implementing them either today or Sunday.

[2013-11-01 12:21] jowr commented on #66
Great, let me know if you could use a hand implementing things.

[2013-11-02 20:01] ibell commented on #66
Either of you have an estimate for time frame?  I'm inclined to release
4.0beta as is now... And then release 4.0 proper in a week or so. @jowr
@lgpage Do you have anything to add to the changelog that I've missed
(Web/changelog.rst)?

On Fri, Nov 1, 2013 at 1:21 PM, jowr notifications@github.com wrote:

[2013-11-03 20:13] thorade commented on #52
Two notes to myself:
http://www.wolframalpha.com/input/?i=derivative+of+a%28x%29-b%28x%29*b%28x%29%2Fd%28x%29
http://www.wolframalpha.com/input/?i=derivative+of+a%28x%29-b%28x%29*c%28x%29%2Fd%28x%29
http://www.wolframalpha.com/input/?i=derivative+of+-1%2Fx^2*f%28x%29
Using the expanded form.
In Matlab symbolic toolbox, there is also the command `expand`

[2013-11-03 20:26] ibell commented on #52
There's also sympy (http://sympy.org/en/index.html), they have an online
thingy too which is awesome

On Sun, Nov 3, 2013 at 9:13 PM, Matthis Thorade notifications@github.comwrote:

[2013-11-03 20:32] thorade commented on #52
OK, I do now have three different ways of calculating these derivatives and all return the same values and also the same value as in the Colonna paper, table 2.
For debugging, here is a table with some values for Propane, with EoS from Lemmon http://dx.doi.org/10.1021/je900217v
The saturation pressure of propane at 298.15 K is 952074.52 Pa.
The saturation pressure of propane at 0.93*Tc (343.9977 K

[2013-11-03 20:37] ibell commented on #52
I get 0.819526851026 for the fundamental derivative at 343.9977 K which
agrees with Colonna of 0.82.  I also get (∂²p/∂v²)s to be equal to
15346165273.570604

On Sun, Nov 3, 2013 at 9:32 PM, Matthis Thorade notifications@github.comwrote:

[2013-11-03 20:41] ibell commented on #52
At 298.15 K /101325 Pa, I get completely different solution, second partial with volume equal to 127223.04620506837 and 0.16734608712500065 for the fundamental derivative

[2013-11-03 20:48] thorade commented on #52
But which EoS are you using for propane?
I'll add another table for n-Butane using the Bücker-Wagner EoS: http://dx.doi.org/10.1063/1.1901687

[2013-11-03 20:52] ibell commented on #52
Im using Lemmon

On Sun, Nov 3, 2013 at 9:48 PM, Matthis Thorade notifications@github.comwrote:

[2013-11-03 20:58] thorade commented on #52
For n-Butane, using the Bücker-Wagner EoS: http://dx.doi.org/10.1063/1.1901687

<table>
    <tr>
        <th>T in K</th>
        <th>p in Pa</th>
        <th>(∂²p/∂ρ²)<sub>s</sub></th>
        <th>(∂²p/∂v²)<sub>s</sub></th>
        <th>fundamental derivative of gasdynamics</th>
    </tr>
    <tr>
        <td>298.15</td>
        <td>101325</td>
        <td>862.173</td>
        <td>1.33302e+006</td>

[2013-11-04 09:15] jowr commented on #48
OK, I did not check the numerical Jacobians, but the code seems to be standard compliant now. I get only one error and that is in the "test" package due to a missing reference to TILMedia, which I do not have.

Moved this from beta to v2014 hope to check the numerical Jacobians soon.

[2013-11-04 09:24] jowr commented on #66
Added incompressibles to change log, remove them if you think they shouldn't be mentioned (I'm kind of undecided...).

[2013-11-04 09:27] ibell commented on #66
I'd rather they be there so it is as clear as possible what we have changed.

On Mon, Nov 4, 2013 at 10:24 AM, jowr notifications@github.com wrote:

[2013-11-04 10:10] jowr commented on #4
Hm, I cannot get it to work properly. We have two options:
1. Abort model execution with an error message on Linux and without error message on Windows
2. Return a value that is obviously wrong (-_HUGE) on both platforms.
   I think both options are better than the standard external media behaviour (return 0).
   Does anyone have strong feelings about this? I suggest to go for option 2 and put a n

[2013-11-04 10:23] jowr commented on #4
Added a message in https://github.com/thermocycle/CoolProp2Modelica-library/commit/6cf800ef42e2e405f9dc9b111173e3fd77981312

[2013-11-05 11:54] thorade commented on #52
Do you have FluidProp installed? Does the regular version calculate the FDG?

[2013-11-05 11:59] ibell commented on #52
Nope I do not have FluidProp installed, but I am pretty sure it doesn't
calculate the FDG.  Any further insight on the derivatives we were looking
at before?  It would have been nice if they had provided one or two points
for validation...

On Tue, Nov 5, 2013 at 12:54 PM, Matthis Thorade
notifications@github.comwrote:

[2013-11-05 12:00] ibell commented on #52
I could also email one of their students as well.  Might be the easiest.

On Tue, Nov 5, 2013 at 12:59 PM, Ian Bell ian.h.bell@gmail.com wrote:

[2013-11-05 14:01] thorade commented on #52
Nannan from the Colonna-FluidProp group has a publication that calculates the FDG in terms of derivatives wrt density: http://dx.doi.org/10.1016/j.fluid.2012.09.017 while in the other publication http://dx.doi.org/10.1016/j.fluid.2009.11.003 they used derivatives wrt to volume. The Nannan formulation uses only terms that are already implemented in CoolProp and can be used directly.

Also, comparis

[2013-11-05 14:08] ibell commented on #52
Nice, they end up with different derivatives than I did...

On Tue, Nov 5, 2013 at 3:01 PM, Matthis Thorade notifications@github.comwrote:

[2013-11-05 14:14] ibell commented on #52
Seems like you were right about how to calculate d2pdv2_T, I think its the
same as what you told me before.  I have a few things to do, but I'll check
this evening.

On Tue, Nov 5, 2013 at 3:07 PM, Ian Bell ian.h.bell@gmail.com wrote:

[2013-11-05 20:48] ibell commented on #52
Ok, it works with the new derivatives.  You were spot on about the derivatives.  I still am a bit confused, but I think it makes sense.  You just can't do what I did as it is not mathematically consistent evidently.

Issue closed. Will be available in 4.0 through DerivTerms

[2013-11-06 09:22] thorade commented on #52
Thanks for the fixes. BTW, not one of the formulas I posted was correct in the first version, I corrected each one afterwards.

[2013-11-06 09:27] ibell commented on #52
But you had the principles correct at least.  They never did properly teach
me partial derivatives in my math classes I have taken so far

On Wed, Nov 6, 2013 at 10:22 AM, Matthis Thorade
notifications@github.comwrote:

[2013-11-07 10:10] ibell opened #67 "FORTRAN wrapper for CoolProp"

[2013-11-07 11:49] jowr commented on #46
- [x] Slurry ice (3x)
- [x] ZitrecAC
- [x] Potassium formate/Sodiumpropionate (Zitrec S10 to S55)
- [x] Potassium acetate/Potassium formate (Aspen Temper -10 to -55 and Pekasol)

[2013-11-07 11:49] jowr commented on #67
My colleague Brian is working on that.

[2013-11-07 11:54] ibell commented on #67
Even better :)

On Thu, Nov 7, 2013 at 12:49 PM, jowr notifications@github.com wrote:

[2013-11-07 11:54] ibell commented on #46
Isn't ammonia water already included from Melinder?

[2013-11-07 11:54] ibell commented on #46
BTW, that checklist is very cool

[2013-11-07 11:58] jowr commented on #46
You're right, updated.

[2013-11-08 16:18] thorade commented on #11
One reason to move the web files to github would be to have everything in one place.
Cleanest solution in the long term would be to register a domain like coolprop.org and let it point to whereever you want.
On github, every project can have a wiki, but also normal webpages, see http://pages.github.com/
The address for these pages would then be something like http://ibell.github.io/coolprop/

[2013-11-08 17:39] ibell commented on #11
The only problem I see with this idea is that we use Sphinx to generate the
docs, do some documentation buildtime validation, etc.  Which would not be
possible to do if we used markdown directly.  Or we could just host the
pages on github, which could work too.  The doxygen files are pretty heavy
though...

I totally see the appeal of doing it all in markdown, but I wonder whether
we couldn't just

[2013-11-09 15:35] jowr commented on #11
No, no strong feelings. A short tour on the net showed that Sphinx can
produce Markdown:
http://stackoverflow.com/questions/13396856/markdown-output-for-sphinx-based-documentation
http://johnmacfarlane.net/pandoc/

I think my preferred solution would be to have a domain and host the
pages on github. This would also make things easier in terms of support.
A shared email address or even a ticket han

[2013-11-11 11:04] squoilin opened #69 "R407c and TTSE enters an infinite loop"
From Modelica, when calling R407c|enable_TTSE=1, Coolprop keeps building the tables in an infinite loop.

From C++, the following does not give any answer:
TwoPhaseMedium_setState_ph_(8e5, 4E5, 2, pointer, "R407c", "CoolProp", "R407c|enable_TTSE=1");

From C++, the following also ends up in an infinite loop:
TwoPhaseMedium_setState_ph_(8e5, 4E5, 2, pointer, "R245fa", "CoolProp", "R245fa|enable_TTS

[2013-11-11 11:30] ibell commented on #69
I think, if I am not mistaken, that you can't use TTSE with pseudo-pure.
 Ill have a look this evening.

On Mon, Nov 11, 2013 at 12:04 PM, squoilin notifications@github.com wrote:

[2013-11-13 11:35] Rod-Persky opened #71 "DerivTerms in python crashes without warning"
Hi,

There seems to be an issue using CoolProp.CoolProp.DerivTerms, looking at the C code it seems that it is expecting a Fluid not a name - I'm not sure what magic goes on in cython.

[code]

[code]

This is on Python 3.3.2 (v3.3.2:d047928ae3f6, May 16 2013, 00:03:43) [MSC v.1600 32 bit (Intel)] on win32

[2013-11-13 12:06] jowr commented on #71
Hi,
this code works fine for me:

[code]

gives

[code]

[2013-11-13 12:08] ibell commented on #71
It is also overloaded in CoolPropDLL.h :
https://github.com/ibell/coolprop/blob/master/CoolProp/CoolPropDLL.h#L52 to
take in a string

On Wed, Nov 13, 2013 at 12:35 PM, Rod Persky notifications@github.comwrote:

[2013-11-13 12:10] ibell commented on #71
Works fine in C++ too:

![clipboard01](https://f.cloud.github.com/assets/1859947/1531082/8b1a9bf4-4c5c-11e3-86a5-26e9ec2c279f.png)

[2013-11-13 12:11] ibell commented on #71
Ah, maybe its a python 3.x issue

[2013-11-13 12:15] ibell commented on #71
Yup, its a 3.x issue, have to figure out why it crashes ( I can duplicate this behavior)

[2013-11-13 12:22] ibell commented on #71
Fixed (?) in rev 373a75fb5d646dcac9f81af69306554257aa27aa  - lunch time

[2013-11-13 12:36] Rod-Persky commented on #71
Works, Awesome! I should have an interesting python and c++ example in making a RGP file for ANSYS CFX

[2013-11-13 12:50] ibell commented on #71
Whats an RGP?  Is it like a user-defined-function?

On Wed, Nov 13, 2013 at 1:36 PM, Rod Persky notifications@github.comwrote:

[2013-11-13 13:03] Rod-Persky commented on #71
It's a computed table of fluid properties, where RGP = 'Real Gas Properties'. There is no program around (that I know of) which can compute these tables, so this is probably pretty helpful for people trying to generate them.

Information about the file is in mod_cfx 12.7 ish.

[code]

Part of it looks like:

![image](https://f.cloud.github.com/assets/770327/1531378/8c15b5f0-4c63-11e3-85ca-ed0ec487

[2013-11-13 13:03] #71 closed, assigned to nobody

[2013-11-13 13:05] ibell commented on #71
I also worked with some researchers at UGent to build a UDF function in
Fluent that called CoolProp. I can send it to you if you are interested.

On Wed, Nov 13, 2013 at 2:03 PM, Rod Persky notifications@github.comwrote:

[2013-11-13 13:13] Rod-Persky commented on #71
We've had some trouble simulating radial turbomachinery in Fluent, CFX seems to be somewhat easier. We're working over at Queensland University of Technology.

Would the UDF function work for CFX?

[2013-11-13 13:23] ibell commented on #71
No idea :)  In fact I don't know too much about how all the low level code
works for CFD, but implementing CoolProp ought to not be too hard.  Is CFX
FORTRAN or C/C++ based?

On Wed, Nov 13, 2013 at 2:13 PM, Rod Persky notifications@github.comwrote:

[2013-11-13 21:46] ibell opened #72 "Mixtures! Mixtures! Mixtures!"
List of things to code up for "normal" mixtures
- [x] Successive Substitution
- [x] Complete and check all the derivatives against debugged REFPROP
- [x] Newton-Raphson for bubble and dew points
- [x] Phase boundary
- [ ] Mixtures API
- [ ] Stability analysis
- [ ] Determination of critical point

[2013-11-16 00:27] ghost opened #73 "Developpment of a Windows application under VB (WPF)"
Hello Ian,

could you please explain me how the coolprop.dll can used for a visual basic project development (WPF) ?

Sincerely
PY

[2013-11-16 23:01] ibell commented on #73
I think you should be able to pull the code that is behind the Excel add-in
(alt-F11 to see the code) and use that basic functionality in VB.  I
thought I had an example somewhere for vb, but I cant seem to find it

On Sat, Nov 16, 2013 at 1:27 AM, pmanach notifications@github.com wrote:

[2013-11-16 23:06] ibell commented on #73
Found it ( a small snippet for VB):

[code]

[2013-11-16 23:26] ibell commented on #69
Does this work now?  If so, please close this ticket.

[2013-11-17 04:28] Rod-Persky opened #75 "Density of saturated liquid Propane has changed"
In updating the C++ example I noticed that Density of saturated liquid Propane has changed between versions 3.3 and 4.0.

[code]

Everything else gave the same result

[2013-11-17 09:41] Rod-Persky commented on #75
I cannot file it as a bug sorry - not sure how.

On 17 November 2013 18:39, Ian Bell notifications@github.com wrote:

[2013-11-17 18:58] #73 closed, assigned to nobody

[2013-11-17 18:59] ibell commented on #75
Ah I meant to adjust the tag to bug for the issue, but Ive taken care of
it.  Ill fix it soon!

On Sun, Nov 17, 2013 at 10:41 AM, Rod Persky notifications@github.comwrote:

[2013-11-21 08:33] jowr opened #77 "Expose DerivTerms"
I sometimes get requests from students and colleagues that need derivatives in their calculations. Unfortunately, only a few wrappers include the DerivTerms function. Could we add it to, for example, Matlab?

[2013-11-21 10:38] ibell commented on #77
Sure.  MATLAB is a real pain to interface with other things, but go ahead
and add another entry in the Props.c file

On Thu, Nov 21, 2013 at 9:33 AM, Jorrit Wronski notifications@github.comwrote:

[2013-11-22 11:36] ibell commented on #77
I just had a brainstorm.  Let's re-implement DerivTerms in the CoolPropStateClass, and add all the derivatives you want to expose as keys in CoolProp so you can do something like:

Props('dpdtau__constdelta','T',300,'D',1,'R134a')

Then the keyed_output function of CoolPropStateClassSI will be modified to take in the derivative keys as well, which will mean that the derivatives are directly access

[2013-11-22 12:27] jowr commented on #77
Good idea! I currently do the Lithium Bromide thingy, but this one could be next...

Jorrit

##

Jorrit Wronski
DTU Mechanical Engineering

Technical University of Denmark
Department of Mechanical Engineering
Nils Koppels Allé
Building 403 Room 111
2800 Kgs. Lyngby

phone: +45 45 25 41 83
email: jowr@mek.dtu.dk
http://www.mek.dtu.dk/english/Sections/TEShttp://www.tes.mek.dtu.dk/English

---

From:

[2013-11-22 12:53] ibell commented on #77
I slightly mis-spoke.  I think it should be in CoolPropStateClassSI, we
might want to consider doing the unit conversions to kSI in
CoolPropStateClass as well, but I would be fine if we just said that
DerivTerms ALWAYS returns SI units.  Up to you.

On Fri, Nov 22, 2013 at 1:27 PM, Jorrit Wronski notifications@github.comwrote:

[2013-11-22 14:19] jowr commented on #47
Done.

[2013-11-22 14:19] #47 closed, assigned to jowr

[2013-11-24 05:59] EdwinSoft opened #78 "Bug Saturation line near critical point (Calculation in function of P)"
I am using Visual Studio 2013 (C++), Windows 8.1 and the last version of Coolpro 4.0Pre. I was trying to make graphs of the saturation lines as a function of  pressure and I used the next code:
# include "CoolProp.h"
# include <iostream>
# include <fstream>

using namespace std;
int main()
{
    if (!add_REFPROP_fluid("REFPROP-Water")) {
        printf("\nError REFPROP\n");
        getchar();

[2013-11-24 11:41] ibell commented on #78
Ah ok, I made the change, thanks for noticing that.  1e-4 is a pretty loose
tolerance, and we should be able to get to 1e-8 without problems.

Ian

On Sun, Nov 24, 2013 at 6:59 AM, EdwinSoft notifications@github.com wrote:

[2013-11-24 12:24] #78 closed, assigned to nobody

[2013-11-24 13:23] ibell commented on #75
Fixed in revision f8d0eb998dc549a6e4633a70a00daf1b2d27921c

[2013-11-24 13:23] #75 closed, assigned to nobody

[2013-11-24 13:24] #9 closed, assigned to nobody

[2013-11-25 12:45] jowr commented on #69
Works for me in Python, haven't checked C++ though.

[code]

[2013-11-25 12:48] ibell commented on #69
I think it works, I'm closing it, @squoilin you can open it back up if the problem still exists for you.

[2013-11-25 12:48] #69 closed, assigned to nobody

[2013-11-26 22:29] bachc opened #79 "Thermal Conductivity issue R134a (and potentially R404a)"
There seems to be some significant differences in the property calculations between r4.0.0 beta and r2.3. These result in about 12% difference in the Shah 2 phase evap HT coefficient (attached images). According to Ian this seems to be a result of the thermal conductivity calculations for R134a. I couldn't match my old evaporator calculations for R404a and think it might be related to the same iss

[2013-11-27 21:56] jowr commented on #61
Hi, I just tried to implement @thorade's suggestions and failed... `Branching_Dynamic_Pipes` still fails, but I might have missed some of the annotations. If you have the time, you can have a look at https://github.com/thermocycle/CoolProp2Modelica-library/tree/indexReduction

[2013-11-27 22:54] thorade commented on #61
I forked the CoolProp2Modelica-library and did some changes, index reduction does then work as it should. You had all the tricky stuff correct, all I had to do was revert the BaseProperties back to how they were implemented in ExternalMedia: BaseProperties needs to call density_ph and so on, otherwise Dymola won't find all the annotations.
I sent you a Pull request, but you can as well just copy t

[2013-11-28 06:35] jowr commented on #61
Of course, the baseproperties. I forgot to change them, thanks.

Regarding the rest, we have to be a little careful because CoolProp does not support as many derivatives and inverse functions as HelmholtzMedia does.

Thanks again for the comments, I really appreciate that you can explain all the advanced Modelica concepts in a a nutshell.

Jorrit

##

Jorrit Wronski
DTU Mechanical Engineering

Tec

[2013-11-28 08:47] jowr commented on #61
I think it's done. We only have to keep our eyes open when adding new functions...

[2013-11-28 08:47] #61 closed, assigned to nobody

[2013-11-29 16:40] EdwinSoft opened #80 "Error in the member function "check_saturated_quality""
I was checking the code in the CPstate.cpp file and found the following:

void CoolPropStateClassSI::check_saturated_quality(double Q){
    double mach_eps = 10*DBL_EPSILON;
    if (fabs(Q-1) < mach_eps){
        SaturatedL = true; SaturatedV = false;
    }
    else if (fabs(Q) < mach_eps){
        SaturatedL = false; SaturatedV = true;
    }
    else{
        SaturatedL = false; SaturatedV = fals

[2013-11-29 18:49] spinnau opened #81 "CoolProp.State.State class not working on Python 3"
Creating a state object like

[code]

in _CoolProp version 4.0.0beta_ (self compiled on Linux) works fine on Python 2.7. But on Python 3.3 I got an TypeError, that the Fluid name should be of type _bytes_ not _str_. Using _bytes_ for the Fluid argument

[code]

results in another error message caused by conversion between _bytes_ and _str_.

[code]

I think the best solution might be to change the

[2013-11-30 02:08] ibell commented on #80
No, you are right.  I don't know why the code was like that, but there is
no question that you are correct.  Do you know how to make a pull request?
Do you use git?  You can even make the changes by going to
https://github.com/ibell/coolprop/blob/master/CoolProp/CPState.cpp and
clicking the edit button.  I would be happy to have you make the changes
yourself.  I've added you as a contributor.

On

[2013-11-30 02:17] EdwinSoft commented on #80
Ok Ibell, thanks.
Yes I am using Git, I will try to make the changes, I like programming but
I've never worked with a repository ;)

2013/11/29 Ian Bell notifications@github.com

##

-Edwin-

[2013-11-30 02:20] ibell commented on #81
Works for me.  If you can test this and make sure it works in 2.x and 3.x,
I'm fine with this change.  Are you comfortable with git/pull requests?
Alternatively you can make the change in the web interface.  Also, if you
are at it, it would be good to go through all the functions in CoolProp.pyx
and make this change to eliminate all the rest of the string conversion
problems between 2.x and 3.x.

[2013-11-30 02:27] ibell commented on #80
Perhaps the easiest for now would be just to make the change in the web
interface then.  Its very simple.

On Fri, Nov 29, 2013 at 9:17 PM, EdwinSoft notifications@github.com wrote:

[2013-11-30 02:29] #80 closed, assigned to nobody

[2013-11-30 15:43] bachc commented on #79
I think the R404a might be unrelated, accidentally added a bug in my evaporator code.

[2013-11-30 17:28] ibell commented on #79
I have identified the problem with R134a (critical region term), and
will fix it (and other fluids that use the same code) this afternoon
or tomorrow.

On 11/30/13, bachc notifications@github.com wrote:

[2013-12-01 19:30] spinnau commented on #81
As there are no release branches I have tried to start work on master branch. The python wrapper compiles without any error for Python 2.7 and Python 3.3 (with gcc 4.8.2 and cython 0.19.2), but I got an ImportError on both Python versions:

[code]

I have not yet figured out, which changes between _4.0.0beta_ source zip-file and master branch caused this error. Maybe missed linking a library in se

[2013-12-01 21:14] ibell commented on #79
Fixed.

[2013-12-01 21:14] #79 closed, assigned to nobody

[2013-12-01 21:16] ibell commented on #81
That's a weird error.  Did you do anything funny to install?  Or just the normal python setup.py install in the wrappers/Python folder?  Can you try to clean out your site-packages/CoolProp folder and the build folder in the python folder? It might be trying to mix 3.x object files and 2.x object files which I think are incompatible. Or the name mangling is handled somehow differently.

[2013-12-01 23:01] spinnau commented on #81
I had run the _python setup.py build_ command in the _wrappers/Python_ folder and tested directly in _wrappers/Python/build/lib.linux.../CoolProp_. But I got the same error after trying _python setup.py install_ with normal installation in the python site-packages folder. I have also deleted the _wrappers/Python/build_ folder before each test.

The mentioned ImportError firstly occurs on f4624e92f

[2013-12-01 23:08] ibell commented on #81
Hmm, py 2.7 works for me with the master on windows, I'll check linux on my
box

On Sun, Dec 1, 2013 at 6:01 PM, spinnau notifications@github.com wrote:

[2013-12-01 23:15] ibell commented on #81
Works on py 2.7 on my xubuntu virtual box image.  Weird.

On Sun, Dec 1, 2013 at 6:07 PM, Ian Bell ian.h.bell@gmail.com wrote:

[2013-12-02 00:51] bachc opened #82 "cair_sat is missing in 4.0.0 nightly (1st Dec. 2013)"
cair_sat cannot be importet for the 4.0.0 nightly build (1st Dec. 2013).
Potentially was not put into the newer wrapper.

[2013-12-02 06:40] jowr commented on #81
Hi, please note that there is a linux script `install-linux.sh`. I needed to make that file because the python-only approach did not work reliably for me.

Jorrit

[2013-12-02 14:07] ibell commented on #81
@jowr Do you recall what was not reliable?  IMHO, this is a fairly serious
problem that we should get to the bottom of.  CP builds fine for me on
xubuntu with py2.7

On Mon, Dec 2, 2013 at 1:40 AM, Jorrit Wronski notifications@github.comwrote:

[2013-12-02 14:59] jowr commented on #81
In my distribution (debian testing and python 2.7), I got some problems with the permissions and hence I wrote the script, which also calls the python functions with the following changes:
- Build as normal user: `python setup.py build`
- Remove system packages: `sudo rm -r /usr/local/lib/python2.7/dist-packages/CoolProp*`
- Install as superuser: `sudo python setup.py install`
- Make files readabl

[2013-12-02 15:58] ibell commented on #81
Ah ok, that makes sense, but I guess for me I just ran sudo python setup.py
install so I avoided that problem.  But otherwise, yes, you cannot install
into dist-packages as a normal user it seems

On Mon, Dec 2, 2013 at 9:59 AM, Jorrit Wronski notifications@github.comwrote:

[2013-12-02 16:14] jowr commented on #77
Almost done. Just one issue with the second Virial coefficient in the state class... You might want to have a look at https://github.com/ibell/coolprop/blob/derivToProps/CoolProp/CPState.cpp#L1908

Besides that one, the script in https://github.com/ibell/coolprop/blob/derivToProps/dev/Tickets/77.py gives the same numbers for old and new derivTerms...

[2013-12-02 16:15] jowr commented on #77
Note to myself: I might want to use the critical density and not the reducing quantity.

[2013-12-02 16:27] ibell commented on #77
@jowr I think you (almost) always want to use the reducing density

What's the issue with the second virial coefficient?  It didn't jump out at me looking at that line

[2013-12-02 18:24] jowr commented on #77
The problem is that the new function gives other results than the old one and I have no clue why. Well, I will have a second try tomorrow and keep you updated.

[2013-12-02 22:19] ibell commented on #77
How different are the results?

On Mon, Dec 2, 2013 at 1:24 PM, Jorrit Wronski notifications@github.comwrote:

[2013-12-02 22:39] spinnau commented on #81
I don't think it has anything to do with permissions, as the build and installation works properly for me before f4624e92fc. But I have also tried to `chmod a+r` the _site-packages/CoolProp_ folder without any change.

A look with `nm` on the created _CoolProp.so_ library file showed the undefined symbol as mentioned before:

[code]

And with demangled names:

[code]

[2013-12-02 22:48] ibell commented on #81
Interesting.  py 2.7 or py 3.0?

On Mon, Dec 2, 2013 at 5:39 PM, spinnau notifications@github.com wrote:

[2013-12-02 22:50] ibell commented on #81
Perhaps the issue is that in the header get_col takes an unsigned int, and in the implementation, it takes a size_t - maybe it then can't figure out the overloading.  Try setting the size_t in MatrixMath.cpp's get_col to unsigned int?

[2013-12-02 22:53] fxhillion opened #83 "scilab"
hi
is there a way to use coolprop with scilab ?
rgds

[2013-12-02 22:55] ibell commented on #83
Working on it, linux/OSX should be possible, windows ~impossible, but I am
running into all kinds of problems with Scilab.  Rest assured you are not
the first person to ask about that.

On Mon, Dec 2, 2013 at 5:53 PM, fxhillion notifications@github.com wrote:

[2013-12-02 22:55] ibell commented on #81
I dont have access to my linux box right now, but I'll bet money that's the issue.  The cleanest way is to change the unsigned int in MatrixMath.h to size_t and add the necessary includes

[2013-12-02 23:22] fxhillion commented on #83
many thanks and good luck with it ! i am looking forward to using it !

[2013-12-02 23:22] #83 closed, assigned to nobody

[2013-12-02 23:28] ibell commented on #83
For now its gonna have to be octave on windows.  The scilab devs and I have
been working together, but overall scilab seems pretty buggy to me, which
doesn't give me a lot of confidence that we will sort it out quickly, for
even linux/OSX.  And it requires SWIG as well, which has its own issues.

On Mon, Dec 2, 2013 at 6:04 PM, fxhillion notifications@github.com wrote:

[2013-12-02 23:42] spinnau commented on #81
@ibell The error was excatly the same for me on Python 2.7 and 3.3. Changing the types of `col` and `row` parameters in `get_row` and `get_col` from `unsigned int` to `size_t` in _MatrixMath.h_ does the trick. Thank you very much.

Now master branch works for me both in Python 2.7 and 3.3. So i can have a look at the _byte/str_ conversion problem for State class on Python 3.

[2013-12-02 23:45] ibell commented on #81
Ok, I have pushed the fix to MatrixMath.h, should work from master with new
code, can you please test?  If it works, please close the ticket :)

On Mon, Dec 2, 2013 at 6:43 PM, spinnau notifications@github.com wrote:

[2013-12-03 00:03] spinnau commented on #81
Your changes works fine for me. The bug with the CoolProp.State.State class not working on Python 3 is still open. I will try to fix it.

[2013-12-03 00:05] ibell commented on #81
Good to hear about the size_t working, it would be great if you could fix
the other part too.

On Mon, Dec 2, 2013 at 7:03 PM, spinnau notifications@github.com wrote:

[2013-12-03 00:17] ibell commented on #67
@jowr Any update on the FORTRAN wrapper?

[2013-12-03 00:19] #23 closed, assigned to nobody

[2013-12-03 03:38] ibell commented on #82
Added back

[2013-12-03 03:38] #82 closed, assigned to nobody

[2013-12-03 09:19] jowr commented on #77
An example in Python gives results that differ:

[code]

Gives this in branch derivToProps:

[code]

... and this in master branch:

[code]

The others values from DerivTerms work fine...

[2013-12-03 09:56] jowr commented on #77
Hm, I guess this issue needs some rest. I cannot figure it out now. Inputs are the same, but the function return a different rersult in new version. For debugging, I print the inputs `tau` and `rhoc` before the output gets printed :

[code]

and old version:

[code]

The function is also the same in new version:

[code]

and old version:

[code]

[2013-12-03 10:11] jowr commented on #77
Ah, it was my fault. I used the cached derivatives, but my input did not correspond with the state: 1e-12 != delta_state...

[code]

I'll fix it, but this basically means that caching is not possible for all functions that rely on the limes->0 contruction of the residual helmholtz energy...

[2013-12-03 12:15] bachc commented on #82
Thanks !

[2013-12-03 12:39] jowr commented on #77
Fixed derivative calculation and exposed unit conversion through CoolPropDLL. The Python wrapper now supports all kinds of unit conversions.

[2013-12-03 12:39] #77 closed, assigned to jowr

[2013-12-03 16:15] ibell opened #84 "Better solution for gitrevision.h"
Hey @jowr , I am getting really annoyed with my solution for getting the git revision into the C++ code, as every time I pull your code and you have rebuilt the python wrapper, there is a conflict with the gitrevision.h .  Do you have a better idea of how we can deal with this?  We need to be able to handle the case that the code is not being build from a git repo, or that git is not available, as

[2013-12-03 18:03] ibell opened #85 "API for Mixtures"
Hey @jowr, the mixtures are getting to a point that I think it would be logical to think about the API.  I have most of the core code working (though there are still plenty of problems to resolve).  I got the phase envelopes working (was a stupid bug on my side).

I guess the major question mark for me is how we should handle the DLL wrapping.  For the languages that (can) wrap C++ directly (Pytho

[2013-12-03 22:34] jowr commented on #84
Hehe, I can understand. My solution is to write a custom merge driver for `gitrevision.h`. You can locally edit your configuration file, which lives in `.git/config` to contain instructions on how to handle conflicts. Add this to `.git/config`:

[code]

I guess the names explain what is going on. Afterwards you have to tell git which of the above drivers should be used for your `gitrevision.h` fil

[2013-12-03 23:15] jowr commented on #84
Just a small update: I committed `.gitattributes`, so there is no need to create that file. Furthermore I just realised that the configuration files have another path on Windows. Instead of `.git/config` you might want to try `C:\Users\username\.gitconfig`.

The workflow for automatically ignoring changes to `gitrevision.h` is as follows:
1. Commit all your local changes including `gitrevision.h`

[2013-12-04 13:57] jowr commented on #85
I have two immediate comments and some more general ideas
- Setting components and their fractions independently might result in inconsistency. We have to make sure to understand the way in which functions get called in the shared library. Just imagine a Modelica simulation with two different mixtures causing calls to the library object with alternating components. What about something like `T = P

[2013-12-04 16:11] ibell commented on #85
I really like your new idea for the structure of CoolProp into a more object-oriented form.  The only major problem I see is that it is going to involve a lot of refactoring of the CoolProp codebase.  In principle this ought to not cause major problems and will help for long-term maintainability.  You are definitely right that the code has been developed very "organically" - many bad design decisi

[2013-12-04 16:54] jowr commented on #85
Yes, let's go for a release. I will put my changes in the release notes and we can keep everyone excited about 5.0... I think it is rather difficult to change the default units. However, we can start promoting PropsSI as the new primary function that handles both properties and derivatives.

And yes again, I am aware of the pointer-only concept (double\* and char*). That is the reason why I sugges

[2013-12-05 04:11] ibell commented on #40
Fixed in rev c10bd230e5000de18ffb35e275ec8707abf88b65

[2013-12-05 04:11] #40 closed, assigned to ibell

[2013-12-05 04:12] ibell commented on #66
@lgpage @jowr I'm ready to release 4.0, what is the status of this issue?

[2013-12-06 11:26] jowr commented on #66
I don't know. I can see that @lgpage works on something, but I did not compare the branches. Logan, please let us know if we can help with anything here.

[2013-12-06 12:06] lgpage commented on #66
@jowr @ibell I apologize for my absence lately, my plate has been rather full.
I am working on this at the moment.
I have sorted out the Unified approach to parameter handling and I'm busy working on the `numpy` compatibility for the plot functions.

[2013-12-06 12:07] jowr commented on #66
Great! Happy coding. :-)

[2013-12-06 12:41] lgpage commented on #66
@jowr please check branch `fix_66`.
A only found a few functions that needed changing to allow for `numpy` compatibility.
Please let me know if I missed any.

[2013-12-06 14:18] jowr commented on #66
Should be fine after 6996d7662cdbda94eca4e2c5a48decf7c707fb0e

[2013-12-06 14:18] #66 closed, assigned to nobody

[2013-12-06 18:21] #81 closed, assigned to nobody

[2013-12-06 21:57] ibell opened #87 "DerivTerms has a problem"
@jowr , there is a problem with the formulation of DerivTerms.  I want to get the entropy of of water vapor for the humid air properties of air at a temperature (-60C), that is below the triple point.  It worked fine before because the call to the fluid pointer's phi0(tau,delta) function didn't check bounds, but the update() function for the the state class does.  And my -60C temperature turns int

[2013-12-11 08:34] jowr commented on #84
Ian, did this solve your issues? Can we close this post?

[2013-12-12 04:59] ibell opened #90 "EES must take non case-sensitive inputs"

[2013-12-13 16:51] jowr commented on #60
After some coding, I think I found the answer:

[code]

Could any of you Windows-users please confirm these results? All you need to do is to check out the branch `fix60`and compile the file 60.cpp from the `dev/Tickets` folder. There is a makefile as well.

[2013-12-14 21:55] ibell commented on #84
Ok, yes I think we can close this.  How did you figure out that info about
the merging?

On Wed, Dec 11, 2013 at 1:34 AM, Jorrit Wronski notifications@github.comwrote:

[2013-12-16 05:14] Rod-Persky opened #92 "coolprop.org and redirect to documentation"
+enhancement of sorts, would it be sweet to grab a domain such as coolprop.org and redirect it to the documentation? I'd be cool to pitch in the requisite amount to but the domain for a few years.

[2013-12-16 08:00] #84 closed, assigned to nobody

[2013-12-17 12:34] jowr commented on #60
OK, it looks like the new parallel integration for the definite integral using the Horner-scheme is much faster than all other possibilities, also on Windows. I'll merge the changes.

[2013-12-17 12:34] #60 closed, assigned to nobody

[2013-12-17 12:55] squoilin opened #93 "EES-CoolProp wrapper fails for certain supercritical inputs with R1233ZD"

[2013-12-17 19:07] ibell commented on #93
Unfortunately this is a known issue with no clear solution.  It seems like another magical problem with EES, since the same inputs that fail in EES work fine in Python, Excel, C++, etc.  I am trying to work through this problem with EES developers, but have neither a clear resolution, nor a timeline for getting this fixed.

For example, this fails:

[code]

FYI it also fails if we just use coolpro

[2013-12-17 19:08] ibell commented on #92
I'd be happy to chip in as well.  I like the idea a lot!!

[2013-12-17 19:08] ibell commented on #90
Fixed, but issues in EES remain

[2013-12-17 19:08] #90 closed, assigned to ibell

[2013-12-18 02:33] ibell commented on #93
Ugh. _Mea culpa_

[2013-12-18 02:33] #93 closed, assigned to squoilin

[2013-12-18 02:34] ibell commented on #93
Was checking based on temp not pressure.  Seems resolved.

[2013-12-18 04:59] ibell commented on #85
Hey @jowr, one late night thought on this topic

What do we do for the case that we have two different mixtures in the system, each with the ability to have different component mole fractions.  Suppose in this case you have ammonia/water and R32/R125.  As you alternate calls for mixtures, how should we deal with this?  Suppose the order of calls is:

[code]

Does this mean we generate 4 phase enve

[2013-12-18 06:31] #92 closed, assigned to nobody

[2013-12-18 06:33] Rod-Persky opened #94 "CoolProp Documentation"
The documentation is somewhat difficult to build, perhaps it can be shuffled around a bit so that it doesn't require coolprop to be installed to work.

Also, I'm working on fixing this and updating the documentation - will push once it's working.

[2013-12-18 08:34] jowr commented on #94
I am afraid we need CoolProp for the code examples. I am curious to see
what you come up with. Your help is much appreciated!

On 18/12/13 07:33, Rod Persky wrote:

[2013-12-18 08:36] jowr commented on #92
I am in as well. @Rod-Persky, do you have experience with domain hosting? If not, I can also do it... Thanks for picking this important issue up again.

[2013-12-18 09:56] Rod-Persky commented on #92
I've done it so many times it is routine. I've sent @ibell the username and password for the domain service. It's there to have stuff setup on it, I've had experience with name.com and it's pretty sweet - I can send the details over to you too.

Anyway, the domain is paid up to 2018 (5 years). I did notice however that someone has got coolprop .com so hopefully by that time it can be absorbed or s

[2013-12-18 09:59] jowr commented on #92
Great.

On 18/12/13 10:56, Rod Persky wrote:

[2013-12-18 10:08] Rod-Persky commented on #94
I have documented things in the past with varying success, one of the better ones was:

https://pyiges.readthedocs.org/en/latest/examples/benchmarks/144_0/144-000_examples.html#module-examples.benchmarks.144_000_example_1

Which contains an assortment of links, but it's not nearly as complicated as coolprop - I have a feeling that it should be straight forward to include the code and build up the

[2013-12-18 12:40] Rod-Persky commented on #54
Has there been any progress on the OpenFoam thermophysical class, or does has anyone had experience writing such a class? I'm looking at gettting real gas properties into OF 2.2.2

[2013-12-19 01:49] ibell commented on #94
I don't foresee messing with the docs in the near future, so its all
yours.  I guess the next thing I want to add is info on mixtures, but we
are not close to that point yet.

On Wed, Dec 18, 2013 at 5:08 AM, Rod Persky notifications@github.comwrote:

[2013-12-19 01:50] ibell commented on #54
Logan,

I certainly haven't played with it, and I have had no direct contact about
OpenFOAM.  Happy to work on this, but no idea how to proceed

On Wed, Dec 18, 2013 at 7:40 AM, Rod Persky notifications@github.comwrote:

[2013-12-19 03:36] Rod-Persky commented on #94
With a few minor modifications the docs are automatically building, they can be found at:

http://coolprop.readthedocs.org/en/latest

Next step is to make the layout similar to how it was - I think RTFD has their own remix of the selected theme

[2013-12-19 04:13] ibell commented on #94
@Rod-Persky Thanks that looks pretty good, though there are some issues like the the documentation for the Python modules is missing.  Can you fill in a bit about the "minor modifications"?  What were the steps to get it up on RTD?

[2013-12-19 04:37] Rod-Persky commented on #94
I got it working removing the import coolprop line, however the cost is that it doesn't get the code. So I'm working to get that fixed though getting setup.py to build and install coolprop on the servers.

The plots and code segments was one of the first things I noticed that didn't work properly, as well as the change in theme. Also, plots that were generated, and all ipython sections are not wor

[2013-12-19 04:54] Rod-Persky commented on #94
Fixed, RTFD builds and installs coolprop - the modules autodoc now turns up. Next is to fix the theme.

I had to copy wrappers/Python/setup.py to / for it to work

[2013-12-19 05:05] ibell commented on #94
Can you give a bit more info how you get the docs onto RTD in the first
place?

On Wed, Dec 18, 2013 at 11:54 PM, Rod Persky notifications@github.comwrote:

[2013-12-19 05:29] Rod-Persky commented on #94
Ok sorry, I wanted to check that it was possible first. So how to use RTD. The motivation is to have documentation that automatically updates when the code is commited, which is important as it makes things just that much easier.

The steps for getting on to RTD is pretty easy, and follows the steps:
- Create an account
- Setup a docs project

Setting up the project is obviously nuanced, but in th

[2013-12-20 09:36] jowr opened #95 "Entropy in EES"
The equation `s_9 = CoolProp('S','P',p_9,'T',T_9,fluid$)` gives an error in EES `CoolProp error: Your output key [s] is not valid. (names are case sensitive)`. Obviously, the `S` gets converted to `s`, which cannot be used as input.

[2013-12-20 14:55] ibell commented on #95
This is an issue with case handling in EES.  I have put together a new
version of the coolprop wrapper that converts all input to upper case
which mostly resolves this issue, but now some fluids will not work.
Argh.  The core problem is that EES has changed back and forth between
being and not being case sensitive, which is a problem from our side.

On 12/20/13, Jorrit Wronski notifications@github

[2013-12-20 14:58] jowr commented on #95
Let's leave it all uppercase. I can go through the fluids and add uppercase aliases.

[2013-12-20 15:04] jowr commented on #95
... or should we make the fluid list case-insensitive?

[2013-12-20 15:19] ibell commented on #95
I think its cleaner to add uppercase aliases, but there are quite a few without them, so if you wanted to just make the fluid name not case sensitive, that would be ok with me too.  What we probably want to do is to add uppercase alias to the alias list for the fluid when it gets loaded into the FluidList in post_load function.

The code to find fluids without uppercase aliases

[code]

which yiel

[2013-12-20 15:47] jowr commented on #95
OK, I added the aliases. Can you make a new EES wrapper?

[2013-12-20 16:01] ibell commented on #95
Jorrit,

I think we still have some line ending issues.  None of the commits in the
last push were minimal diffs :
https://github.com/ibell/coolprop/compare/457c0cc8a215...e68a53043062 and
now I can't pull.

Thanks for adding the uppercase aliases! What a pain to do!

Ian

On Fri, Dec 20, 2013 at 10:47 AM, Jorrit Wronski
notifications@github.comwrote:

[2013-12-20 16:03] ibell commented on #95
New installer for CoolProp_EES attached.  If you could let me know if it
works for you that would be great!

Ian

On Fri, Dec 20, 2013 at 11:00 AM, Ian Bell ian.h.bell@gmail.com wrote:

[2013-12-20 20:20] jowr commented on #95
Did you attach it to the email? I am not sure I know where the file is...

[2013-12-20 20:32] ibell commented on #95
Oops, I replied to the github message, but the attachment doesnt get posted
to the issue.  Ok, personal email this time

Ian

On Fri, Dec 20, 2013 at 3:20 PM, Jorrit Wronski notifications@github.comwrote:

[2013-12-20 20:56] jowr commented on #95
Haven't tried all possible inputs, but my problems are solved with the
new wrapper.
Let's hope that the line-ending mess stops as soon as evry file has been
checked out and checked in after the configuration change. Let us keep
an eye on that issue.

On 20/12/13 21:32, Ian Bell wrote:

[2013-12-23 15:26] jowr commented on #85
I am not sure how to handle this. One idea could be to make an list of phase envelopes for a mixture with `n` components and vary the composition with `m` predefined step-width.

[code]

This would give you a list concentrations covering the whole range of possible concentrations:

[code]

Such a matrix could then be used to obtain guess value for a calculation with the actual composition. The adv

[2013-12-23 16:54] jowr commented on #95
@ibell , can you upload your new code? I guess it is fixed.

[2013-12-23 16:54] #95 closed, assigned to nobody

[2013-12-27 02:57] ibell commented on #85
That is an intriguing way of handling the combinations.  Check your inbox for an alternative idea for how to handle the phase envelopes for binary mixture at least.  There are a lot of tricky issues to work out here.  Another idea is to build a really accurate phase envelope for a lot of mole fraction combinations and save it to file, sort of like how we handle the TTSE tables.  But the ND interpo

[2013-12-29 10:06] gratitude38 opened #96 "CoolProp Support in Mathematica"
Hi, Ian!

It is great that you have made CoolProp an open source. As the number of Mathematica users is increasing, it would be nice if Mathematica could call some CoolProp functions. I greatly appreciate your kind help if a special DLL for Mathematica is compiled.

With gratitude

[2014-01-01 20:31] ibell commented on #96
Added support in revision ba4c9f1710ff1a8781b74626b667923148824a34 in a preliminary form.  Follow instructions in wrappers/Mathematica/Readme.rst

[2014-01-01 20:34] #96 closed, assigned to nobody

[2014-01-06 12:51] jowr commented on #11
It looks like Rod is going to handle the code documentation. For a general purpose homepage with more examples and additional downloads, we might still consider github pages:
http://24ways.org/2013/get-started-with-github-pages/

[2014-01-06 12:52] jowr commented on #94
Besides the docs, we probably also need "normal" pages. I posted a link here https://github.com/ibell/coolprop/issues/11#issuecomment-31646038

[2014-01-06 15:46] Rod-Persky commented on #11
I've gotten the docs to build nicely on readthedocs, I've just got to pull it into the main repo.

[2014-01-06 15:49] jowr commented on #11
:+1:  for that...

[2014-01-06 16:22] ibell commented on #11
So the one bit left then is to generate the dynamic examples and fluid information.  Anyone have an idea how best to handle that?  There's quite a lot of data associated with one rebuild of the website, on the order of 100 MB if I remember correctly including all the figures, doxygen code, etc.  We can't really commit it because then we will end up with enormous git repos.

But I really like the i

[2014-01-10 21:59] ibell commented on #94
See this, as a teaser: http://nbviewer.ipython.org/github/ibell/coolprop/blob/master/Web/TTSE.ipynb?create=1

Ipython notebooks are superb.  I'm using them heavily right now and I can't say enough good about them.  Plus we can turn them into static HTML pages, which is what I propose we do. And we can see the output as well dynamically since it is just a formatted ipython session.

[2014-01-10 22:49] ibell opened #97 "EOS for Fluoroethane (R161)"

[2014-01-10 22:49] ibell opened #98 "EOS for heavy alkanes"

[2014-01-10 22:52] ibell opened #99 "Docs for all pure and pseudo-pure fluids"
We need to think about how we want to handle this.  Currently, there is a python script that generates .rst files that are parsed by Sphinx.  I'm not opposed to doing this all in ipython notebooks, but we need to figure out how to generate ipython notebooks from code.

[2014-01-13 01:57] Rod-Persky opened #100 "line endings in git repository"
@ibell / @jowr

I'm having troubles committing anything to the repository as git is changing the line endings, this is unique to the coolprop repository - is there anything that I can do about it? The issue seems to be affecting .py, .txt, .bat, .cs, .sln, .cproj, .m, .rst, .html, .tex, .... pretty much everything

Rod

[2014-01-13 09:32] jowr commented on #100
Yes, I made that setting since we had some trouble with very large
commits due to some software (Dymola and Visual Studio) that change all
line endings in a file.
The intention is to force Unix-style line endings in the repository and
the settings are made in `.gitattributes`.
Could you please state what your problem is? Normally, you should be
able to use the line endings you prefer. It is only d

[2014-01-13 21:38] ibell commented on #100
I have also run into some issues with the line endings.  I couldn't force a checkout of an older version on OSX because the only change was line endings.  In the end I had to wipe my entire repo and clone it again.  Nothing (reset, checkout, etc.) would get me to a point where I could pull

I think that Visual Studio can be told to not change the line endings, but I am not sure about Dymola.  I th

[2014-01-16 16:09] ashuraj25 opened #101 "REFPROP linking with MATLAB"
I am getting continuous error for the MATLAB regarding REFPRP64.dll saying that there is error in the license file. Please tell the website to download it as the one i got from nist faq link is not working. And the procedure to link it up.

[2014-01-17 11:12] ibell commented on #101
Do you have a file REFPRP64.dll in your REFPROP folder?  What exactly is
the error you get?  Can you provide a minimal example that can replicate
this error?

Also, you are calling REFPROP through CoolProp, right?

On Thu, Jan 16, 2014 at 5:09 PM, ashuraj25 notifications@github.com wrote:

[2014-01-17 15:51] ibell opened #102 "All the EOS from Bonsen"

[2014-01-17 19:58] bachc opened #103 "Allow array-like data as input to Props calculations (enhancement)"
CoolProp.CoolProp.Props does not seem to allow arrays as inputs to property functions, e.g. Props('H','Q',0.0,'T',np.array([250.,270.,280.]),'R410A')
results in an error.

It would sometimes be convenient to do calculations like these.

Please disregard this suggestion if already implemented in a newer version of CoolProp

Thanks!

[2014-01-17 23:07] ibell commented on #103
Yup, fixed a while ago, we agreed about the utility of this functionality

[2014-01-17 23:07] #103 closed, assigned to nobody

[2014-01-18 10:34] jowr commented on #100
Is this still an issue?

---

From: Ian Bell [notifications@github.com]
Sent: 13 January 2014 22:38
To: ibell/coolprop
Cc: Jorrit Wronski
Subject: Re: [coolprop] line endings in git repository (#100)

I have also run into some issues with the line endings. I couldn't force a checkout of an older version on OSX because the only change was line endings. In the end I had to wipe my entire repo and cl

[2014-01-18 14:42] bachc opened #104 "Array inputs for HAProps not implemented, yet"
Array inputs will be useful for analysis of experimental data.

Thanks you!

[2014-01-20 07:27] ashuraj25 commented on #101
@ibell  Yes i have a file REFPRP64.DLL in my REFPROP folder. The exact error I am getting is shown below.
Error in ==> refpropm at 202
            if archstr == 'win64'
I took the refprop example in the example folder and i got this error.
Can u tell the complete steps to be followed since the installation of MATLAB 2010?

[2014-01-20 08:08] ibell commented on #101
You are using a rather older version of MATLAB, that might be the problem.
Also, this is not related to CoolProp in any way, but I will try to help
anyway.  Are you using mixtures?  If not, you might just want to use
CoolProp.  Then it is a very simple process to get CoolProp working with
MATLAB.

What platform are you on? Windows/Linux/OSX? 32-bit/64-bit? The REFPROP DLL
will only work on Windows

[2014-01-20 08:50] ashuraj25 commented on #101
@ibell No I am not using mixture I am using super critical carbon dioxide as the fluid . If it is available in cool prop please tell the way to instal and obtain it? I am working on windows 64 bit that might be the problem I think.

The error message is coming only that much

[2014-01-20 09:25] jowr commented on #101
I agree with Ian, this seems to be independent from CoolProp. However, in order to get CoolProp for your supercritical CO2, please go to http://coolprop.sourceforge.net/ and choose your favourite language/software (probably Matlab).

[2014-01-20 09:44] jowr opened #105 "Sun-Ely EOS"
Hey @ibell, the authors of http://inside.mines.edu/~jely/Papers/FPE_222%281%29_107.pdf claim to have a more accurate EOS for some alkanes and refrigerants. Should we consider implementing it? Are there any known issues?

[2014-01-20 09:49] ibell commented on #105
I think for fluids that we already have implemented, we are implementing
better EOS in most cases (but not all).  The EOS for 1-Propanol is
interesting though.  We don't have that in CoolProp.

On Mon, Jan 20, 2014 at 10:44 AM, Jorrit Wronski
notifications@github.comwrote:

[2014-01-20 09:58] ibell commented on #101
You can download the precompiled version for MATLAB from
http://sourceforge.net/projects/coolprop/files/CoolProp/4.0.0/MATLAB/ , put
it somewhere on your MATLAB path, and then you should be able to run the
example from http://coolprop.sourceforge.net/examples/MATLAB/example.html

Best of luck

On Mon, Jan 20, 2014 at 10:25 AM, Jorrit Wronski
notifications@github.comwrote:

[2014-01-20 09:59] ibell commented on #105
The issue too is that a lower AAD doesn't necessarily mean a better EOS.
Extrapolation behavior is critical.

On Mon, Jan 20, 2014 at 10:48 AM, Ian Bell ian.h.bell@gmail.com wrote:

[2014-01-20 10:17] ashuraj25 commented on #101
@ibell  Thanks . do we need to download Props.mexw64 or HAProps.mexw64 ?

[2014-01-20 10:24] jowr commented on #101
HAProps for humid air, Props is for pure, pseudo-pure and incompressible fluids.

[2014-01-20 10:33] ashuraj25 commented on #101
@jowr Thanks

[2014-01-21 07:24] ashuraj25 commented on #101
@ibell @jowr Please tell in which of the two files does supercritical carbondioxide lie as i believe it is a compressible fluid . and neither it is a humid air.

[2014-01-21 07:29] ibell commented on #101
Do you mean this:
http://coolprop.sourceforge.net/Fluids/CarbonDioxide.html?  Otherwise
I don't understand your question.

On Tue, Jan 21, 2014 at 8:24 AM, ashuraj25 notifications@github.com wrote:

[2014-01-21 07:33] ashuraj25 commented on #101
@ibell Thanks.. got it..

[2014-01-21 08:26] #101 closed, assigned to nobody

[2014-01-22 12:07] jsebastiangalvis opened #106 "Using Coolprop on Excel 2010 for OSX"
I've been trying to use Coolprop for Excel on OSX, but I haven't been able since the .DLL file is compiled for working with Windows.

There's an alternative for this, or there's someone already developing the file on a parallel format?

Please help.

Thanks.

[2014-01-22 12:10] jowr commented on #106
Sorry, I am not aware of such activities and none of the developers is actively using a Mac with MS Office... Feel free to contribute.

If you are lucky, @ibell might find the time to look into it, but I cannot help. Good luck!

[2014-01-22 12:54] ibell commented on #105
Ugh, they don't provide critical information for these fluids.

[2014-01-22 12:56] ibell commented on #106
I am not sure it is possible to use CoolProp with Excel on OSX.  You definitely will not be able to use the DLL provided as it has been compiled for windows.  I can do a bit of investigation.

[2014-01-22 14:01] jowr commented on #106
Isn't this an issue already?

[2014-01-22 14:03] ibell commented on #106
Yup, sorry I just copied pasted from my email, I edited the comment

[2014-01-22 19:16] #97 closed, assigned to ibell

[2014-01-22 19:21] ibell commented on #106
Looks like Excel 2010 on Mac doesn't have VBA, so I don't think you can call DLL then.  Excel 2011 seems to have brought VBA back.  That looks more promising.

[2014-01-22 19:21] #106 closed, assigned to nobody

[2014-01-23 05:44] abcfy2 opened #107 "how to build this on linux??"
I use `pip install coolprop` on linux,but it's failed!
- coolprop version: 4.0
- OS: linuxmint 15
- python version: 2.7 & 3.3

here is log:

[code]

[2014-01-23 07:27] ibell commented on #107
This is due to a regression in Cython.  I'm going to fix this, hopefully
permanently.  Watch this space

On Thu, Jan 23, 2014 at 6:44 AM, Feng Yu notifications@github.com wrote:

[2014-01-23 08:00] ibell commented on #107
Ok, problem fixed.  You will need to build from source, which is as easy as
downloading the zip from
https://github.com/ibell/coolprop/archive/master.zip , unzip, open a
terminal, type `python setup.py install`

Regards,
Ian

On Thu, Jan 23, 2014 at 8:26 AM, Ian Bell ian.h.bell@gmail.com wrote:

[2014-01-23 08:37] abcfy2 commented on #107
But in `install` step, it also raise an error.

[code]

[2014-01-23 09:09] ibell commented on #107
Interesting.  Thats a new one I haven't seen before.  What are the
contents of the **init**.py file it complains about?

On 1/23/14, Feng Yu notifications@github.com wrote:

[2014-01-23 11:11] ibell opened #108 "Make the Travis build succeed with no errors so that we can do proper unit testing"
It is hard to tell whether we have screwed things up with the build since there are always errors in the Travis CI build.  Need to resolve/remove the failing tests.

[2014-01-23 11:29] ibell commented on #107
Try again now?  I've pushed some changes that might fix your issues.
Hopefully it should work.  I just built on linux with py2.7

On Thu, Jan 23, 2014 at 10:09 AM, Ian Bell ian.h.bell@gmail.com wrote:

[2014-01-23 13:05] ibell opened #109 "Consider a better EOS for Methanol"
One of Kume (2005) or Zheng (Thesis)

[2014-01-23 13:50] abcfy2 commented on #107
Maybe it's fixed.
I'm not use my own PC now. I use another PC with LinuxDeepin 2013 for testing. It's also based on Ubuntu 13.04.
I will try it on my own PC tomorrow.
Thank you.

[2014-01-23 13:55] ibell commented on #107
3.3 looks like it still has some issues with the build.  Let me fix those
too.  I'm doing a CoolProp development sprint today.

On Thu, Jan 23, 2014 at 2:50 PM, Feng Yu notifications@github.com wrote:

[2014-01-23 23:07] ibell commented on #100
Yup, this this still an issue.  Seems to be more of a problem on linux-based OS.  Right now, I have a repo on Ubuntu that is stuck.  I have tried to do all the reversion commands from http://stackoverflow.com/questions/14075581/git-undo-all-uncommited-changes but I cannot get files (that have only line ending changes) to reset.  `git status` says the files are modifed, then I try to reset, then it

[2014-01-24 01:39] abcfy2 commented on #107
I just clone the latest project. When I enter the dir, it receives a waring:

[code]

On my own PC, I use zsh shell.

There is no other errors. It's fixed.

Thank you all for the hard work.

The last problem is that how can I call coolprop in JAVA ?

I move the CoolProp.so file to the same degree as the Example.java, but failed.

Could you write more doc about how to use coolprop on linux ?

[2014-01-24 08:00] jowr commented on #100
Interesting, I also work on Linux and do not have any issues:
- Did you check out the repo again after we made the settings in .gitattributes ?
- I can see you work on a virtual machine, try not to share the directory you work in between host and guest machine if they are running different OSs.
- On Linux, you change all line endings by running: `find CoolProp.git -type f -exec dos2unix {} \;`

I

[2014-01-24 12:14] #107 closed, assigned to nobody

[2014-01-24 12:22] ibell commented on #100
Yes to .gitattributes question.  Should I re-clone my repos?  Maybe that
would help? I havent run into problems on the windows side of things I
don't think.

On Fri, Jan 24, 2014 at 9:00 AM, Jorrit Wronski notifications@github.comwrote:

[2014-01-24 12:28] ibell commented on #100
On a fresh clone on ubuntu, my git status isn't clean on the clone:

[code]

[2014-01-24 13:50] ibell opened #110 "pseudo-pures fail before the critical point is reached along the saturation curve"

[2014-01-24 14:36] jowr commented on #100
Did you set your `autocrlf` to something else than `input`? Please double check by running `git config --global core.autocrlf input` and clone again. If it is not related to this, then I am also out of ideas... For more reading: http://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/ and http://schacon.github.io/git/gitattributes.html

[2014-01-24 15:01] jowr commented on #100
I think I found the problem... After I changed all the line endings to LF (https://github.com/ibell/coolprop/commit/91bef7f896c4b4a5bdd195226a1488299bd1db64), @ibell made a merge commit (https://github.com/ibell/coolprop/commit/07f5fdcbee103549a50f82bc056d2ee03a343d26) and changed the line endings back again. This means that we have CRLF line endings in the repository which gives all these weird m

[2014-01-24 15:07] ibell commented on #100
Ah so in the end this was all my fault I guess.  Sorry @jowr @Rod-Persky and everyone else that has had to suffer through this.  The checkout with the new line endings seems to be good!  @jowr , go ahead and merge and close this ticket!  Hopefully this is the last we hear of this issue.

[code]

[2014-01-24 15:22] jowr commented on #100
Well, I wouldn't say it's your fault. I guess we have to get used to all these issues since none of us is a professional developer.

[2014-01-24 15:37] jowr commented on #100
Changed line endings again. If possible, I recommend to re-clone the repo.

[2014-01-24 20:20] mitralavasani opened #111 "help"
how use coolprop2fluent ?

[2014-01-24 23:12] jowr commented on #111
I am afraid you cannot use Fluent and CoolProp at the moment. It is a work in progress, please have a look at https://github.com/ibell/coolprop/issues/54.

[2014-01-25 03:22] Rod-Persky commented on #11
Sorry I haven't been able to continue working on the RTD for a bit, I should have time after Feb 5. Also on a related note, how do you want coolprop referenced? I'm thinking of just referencing the ASME ORC poster, is there a preferred method @ibell

[2014-01-25 06:38] Rod-Persky commented on #108
So I was thinking about this! The idea was:
- When the project builds, send a list of test results somewhere such that,
- When it comes to the next build a success is determined by that test not changing state (failing)

I was looking though the travisci build system, and we can also have it automatically zip up and push binaries to pypi, sourceforge and wherever else.

[2014-01-25 07:44] Rod-Persky commented on #100
I'm still having issues with the line endings unfortunantly:

[code]

I think everything has been right, but it's still an ongoing problem.

[2014-01-25 07:48] Rod-Persky commented on #100
Surveying the types of line endings in the files, almost all of them are CRLF - but it's inconsistant

[code]

[2014-01-25 10:42] Rod-Persky opened #112 "Variation of H and S from expected values"
Using coolprop to calculate Enthal- and Entropy, for a few fluids I've found that the result isn't as expected. For example, using the snippet:

[code]

I've found that the output is

[code]

I was expecting values in the order of:
H (Enthalpy) = 200.50 [KJ/kg] and  S (Entropy) = 3.2795 [Kj/Kg-K]

Rho is spot on! This is repeated for a few other fluids such as R143a.

[2014-01-25 14:11] jowr commented on #100
I am sorry guys, I did not push the last commit I made. That was my fault. I hope it is fixed now, I am getting tired of this issue... ...but thank you all for your patience regarding our humble attempts to fix this triviality.

[2014-01-25 14:15] jowr commented on #112
Just a guess: Check the reference point. Enthalpy and entropy have arbitrary 0 points. What counts is the difference from point A to point B. If you compare with other software, make sure you either set the reference conditions or that you only compare differences.

[2014-01-25 14:20] jowr commented on #11
Have a look at http://pubs.acs.org/doi/abs/10.1021/ie4033999. Full bibliographic information should follow soon. I currently use this BibTex entry:

[code]

I hope this is what you are looking for.

[2014-01-25 16:08] thorade commented on #112
There are at least three commonly used reference points, you might want to check what values you get for the following input:
- IIR: saturated liquid at T=0°C=273.15 K is set to h=200kJ/kg and s=1kJ/kgK
- ASME: saturated liquid at T=-40°C=233.15K  is set to h=0 and s=0
- NBP: saturated liquid at p=1.01325 bar is set to h=0 and s=0

[2014-01-25 16:18] thorade commented on #105
I guess you are aware of the Span-Wagner publication on extrapolation: http://dx.doi.org/10.1007/BF02575343

Also, the quality of EoS and the quality of extrapolation can be assessed using plots of ideal curves, like Boyle curve, Ideal curve, Joule-Thomson inversion curve and Joule inversion curve, as discussed on page 84 of the Lemmon HFC-125 publication http://dx.doi.org/10.1063/1.1797813

If no

[2014-01-26 01:50] ibell commented on #105
Matthis,

That sounds like you are offering to add the ideal curves, right? :)
I agree that that would be a nice addition!

On 1/25/14, Matthis Thorade notifications@github.com wrote:

[2014-01-26 08:48] thorade commented on #105
I should have known you would suggest that before making smart comments...
Should be fun to plot these curves, so yes, I'll see what I can do, but let me finish my PhD thesis first. Trying to submit before february 10th.

[2014-01-26 09:31] ibell commented on #112
FYI, you can also change the reference state for the fluid.  From Python:
http://coolprop.sourceforge.net/apidoc/CoolProp.html#CoolProp.CoolProp.set_reference_state.
For some reason the text has been cut off in the first type (I'll fix it
).  But in principle doing something like
set_reference_state('Propane','IIR') should change the reference state to
IIR.

On Sat, Jan 25, 2014 at 5:08 PM, Matthi

[2014-01-26 09:50] Rod-Persky commented on #112
Thanks @ibell @thorade @jowr

I was getting in a tizz about the negative numbers! Anyway, I'm back on track now... hopefully

[2014-01-26 10:22] Rod-Persky commented on #112
Related to that, I was curious about IIR - So I did a pretty dumb test:

[code]

Which has the result:

[code]

It doesn't particularly matter that IIR doesn't work, I'm using the former method just fine. So I've reclosed the issue sorry.

[2014-01-26 10:27] #112 closed, assigned to nobody

[2014-01-26 15:24] mitralavasani commented on #111
but in the cfd-online/forum
http://www.cfd-online.com/Forums/main/125043-now-possible-have-open-source-real-gas-properties-fluent-other-cfd-codes.html

it say that we can use it in fluent
please help me ,i need it
thanks

---

 From: Jorrit Wronski notifications@github.com
To: ibell/coolprop coolprop@noreply.github.com
Cc: mitralavasani mit.lavasany@yahoo.com
Sent: Saturday, 25 January 2014, 2:42:

[2014-01-26 17:18] ibell commented on #111
Did you try to run the build script? Did it compile?

On Sun, Jan 26, 2014 at 4:24 PM, mitralavasani notifications@github.comwrote:

[2014-01-26 17:26] ibell commented on #112
@Rod-Persky The set_reference_state is applied to the fluid instance that is stored in the main fluid container.  Such that calls through Props() or PropsSI() would get the right reference state.  You instantiated the fluid directly, and thus the class doesn't have its reference state updated.  But if you use the set_reference_stateP(https://github.com/ibell/coolprop/blob/master/CoolProp/CoolProp.

[2014-01-26 17:36] ibell commented on #105
@thorade Good luck finishing your thesis, but adding the ideal curves would be great.  And we could add a section to the docs about evaluating the quality of EOS too.  That would be nice.  I can probably help some too.  Should we open a separate issue that I give to you?

[2014-01-26 17:44] ibell commented on #108
One thing they have is a passing or failing png you can embed in a website,
a la https://github.com/philsquared/Catch (see in the readme.md)

On Sat, Jan 25, 2014 at 7:38 AM, Rod Persky notifications@github.comwrote:

[2014-01-26 17:47] thorade commented on #105
You are right, this issue was about the Sun-Ely EoS.
I'll open a seperate issue once I start actually working on it. So far, I have only read two papers. Probably I'll need some help then.

[2014-01-26 22:46] squoilin opened #113 "TTSE has become slow from Modelica"
In coolprop2Modelica, the benchmark test with propane and the TTSE method give 332 microseconds while it use to be less than 10

[2014-01-27 07:55] ibell commented on #113
Hmm.  Weird.  I can add a test at the c++ level to test the speed of
TTSE.  What inputs do you use for the test?

On 1/26/14, squoilin notifications@github.com wrote:

[2014-01-27 17:43] jowr opened #114 "Thermal conductivity and TTSE"
Something is wrong with the thermal conductivity calculation when using TTSE. I will try to fix things myself, but if anyone is going to mess around with TTSE due to Sylvain's issue (https://github.com/ibell/coolprop/issues/113), it would be nice if you kept an eye open for this as well.
![lambda](https://f.cloud.github.com/assets/769593/2011390/2d28edc6-877a-11e3-9d19-7c5ce3fe4060.png)
The graphs

[2014-01-27 22:47] ibell commented on #100
I think it is finally time to close this issue unless anyone else objects.   I am certainly pleased that this might be going away

[2014-01-27 23:07] ibell commented on #114
Perhaps this could be related to a kSI/SI units conversion problem
somehow?  Does this behavior exist with other fluids?

On Mon, Jan 27, 2014 at 6:43 PM, Jorrit Wronski notifications@github.comwrote:

[2014-01-28 12:07] jowr commented on #114
Good guess, but there is also something else going on. In attached a plot of thermal conductivity of SES36. The x-axis shows subcooling and superheat at `0.75*p_crit` in Kelvin. Note how the graph jumps back to its normal value for higher temperatures. The same can be observed for other fluids as well. I currently make a list of fluids where this occurs.
![ses36](https://f.cloud.github.com/assets/

[2014-01-28 15:17] jowr commented on #114
fixed, it was mostly the units...

[2014-01-28 15:17] #114 closed, assigned to nobody

[2014-01-28 15:41] ibell commented on #67
+1 , just got another request.

[2014-01-28 19:35] #100 closed, assigned to nobody

[2014-01-29 08:26] jowr commented on #67
OK, let's not wait any longer. I will have a look at it myself...

[2014-01-29 20:20] jowr commented on #67
We need a C wrapper to be called from Fortran. Does anyone have such a file already?

[2014-01-29 20:26] jowr opened #116 "CPP wrapper on Linux"
@Rod-Persky is there a special reason for putting the `libCoolProp.so` in `/usr/include`? I once learned to put header files in the `include` folders and libraries into `/usr/lib`... I also had to change the permission in order to call the file with other users than root. Would you mind if I changed those settings?

[2014-01-30 21:54] jowr commented on #67
I added a basic file that shows the way to go. It is tested on Linux and it works well, it does NOT work on MacOS and I could not test on Windows. It would be great to get some help here because I am all but a Fortran expert... I also added a rudimentary C interface.

[2014-01-30 21:57] ibell commented on #67
Cool!  What's the issue on OSX?  I can test on windows I hope. Whats the
build procedure?

On Thu, Jan 30, 2014 at 10:54 PM, Jorrit Wronski
notifications@github.comwrote:

[2014-01-30 21:59] jowr commented on #67
There is a `build.sh` in both the `C` and the `Fortran` subdirectory. Have a look there for build order etc.

[2014-01-31 11:05] ibell commented on #67
I can't get the executable to build on windows.  I made a batch script with
contents

[code]

which then dies on the third line with

[code]

If I am not mistaken `-ldl` is to allow for the use of dynamic libraries,
right?  Isn't it built-in? What should I do about the `-lCoolProp` flag
on windows?  Do I need to specify the dll search path somewhere?

On Thu, Jan 30, 2014 at 10:59 PM, Jorrit Wrons

[2014-01-31 11:09] jowr commented on #67
I'll talk to my Windows-using colleagues, please stay on hold for a little while.

[2014-01-31 20:50] ibell commented on #94
@Rod-Persky It seems your docs building branch has gone AWOL.  Can we bring it back?

I am trying to integrate another project of mine that is based on CoolProp into RTD, but I can't get Cython to be found, even though I added it to the requirements.txt file.  I think otherwise I have the same configuration as you.  At the least, can you send me a copy of your requirements.txt file?

Thanks!

[2014-02-01 14:12] spinnau opened #117 "Allow T-s value pairs for definition of fluid states"
It would be great, if Props and State classes could be instantiated with T-s value pairs.

In Python I use a Newton-Raphson solver from scipy to calculate the pressure and then define the state with p-s value pair. With p_triple as an initial guess this works without problems for liquid, gas and two-phase states.

[code]

For easier usage also in other supported languages/environments it would be

[2014-02-01 16:53] ibell commented on #117
I like your idea, but I can see two problems:
- If T, s is two-phase, your method will fail because T,P are not unique in two-phase region.  It would be better to iterate on density I think with temperature held constant.  That way it is only a 1-D iteration.  And T,D is the natural pair of inputs for the EOS, so you can't do any faster.
- This method is going to be SLOW since you are iterating on

[2014-02-01 16:58] ibell opened #118 "Support all the input pairs that REFPROP supports"
NOT DONE:
subroutine THFLSH (t,h,z,kr,p,D,Dl,Dv,x,y,q,e,s,cv,cp,w,ierr,herr)
subroutine TEFLSH (t,e,z,kr,p,D,Dl,Dv,x,y,q,h,s,cv,cp,w,ierr,herr)
subroutine PEFLSH (p,e,z,t,D,Dl,Dv,x,y,q,h,s,cv,cp,w,ierr,herr)
subroutine ESFLSH (e,s,z,t,p,D,Dl,Dv,x,y,q,h,cv,cp,w,ierr,herr)
subroutine DHFLSH (D,h,z,t,p,Dl,Dv,x,y,q,e,s,cv,cp,w,ierr,herr)
subroutine DSFLSH (D,s,z,t,p,Dl,Dv,x,y,q,e,h,cv,cp,w,ierr,herr)

[2014-02-01 17:09] ibell commented on #117
See also #118

[2014-02-01 22:51] spinnau commented on #117
@ibell That commit is in my forked repo in the _Ts_solver_ branch. I don't know why GitHub shows the commit in _ibell/coolprop_ repo after clicking the link.

The proposed implementation works even if T,s is two-phase, because `T(p,s) - T = 0` is solved for the pressure and the fluid is instantiated with the unique p,s pair afterwards.

To avoid the slow p,s-iteration, I have changed the code to s

[2014-02-01 23:55] #109 closed, assigned to nobody

[2014-02-01 23:57] ibell opened #119 "Add third partials for Association term from SAFT for methanol"

[2014-02-01 23:58] ibell opened #120 "Add EOS for acetic acid from Piazza 2011"

[2014-02-02 00:04] ibell commented on #111
Closing for now.  Please open a new issue in the future with a clear title summarizing the problem ("help" is not specific) and a summary of what you have tried, and what errors you run into. Comments like "it doesn't work" make it very hard for us to help you.

[2014-02-02 00:04] #111 closed, assigned to nobody

[2014-02-02 01:16] spinnau commented on #117
I have changed the initial density values for the iteration (3a4f3eedac29ee600224). Now it works for liquid, two-phase and gas regions.

[2014-02-02 01:39] ibell commented on #46
@jowr , can you include these last two brines so that we can close out this issue?

[2014-02-02 17:41] ibell opened #121 "Make all fluid transport properties use SI units internally"
A nightmare to debug, I keep running into unit problems, though Catch is helping.

[2014-02-03 08:28] Rod-Persky commented on #116
Hi @jowr that's fine, I did whatever was necessary to get it all running on my computer - I'm actually unaware of the correct location to install things and that was the first that worked.

[2014-02-03 08:30] Rod-Persky commented on #108
If we get it to stop failing the specific tests that it does, then that png should be pretty good - otherwise i'll be deceiving that the program is completely broken.

[2014-02-03 08:32] ibell commented on #108
Right, which is why I haven't implemented that yet.  I've been adding a lot
of tests recently at the C++ level which we can also call from python.
Should make for a pretty solid testing system.

On Mon, Feb 3, 2014 at 9:30 AM, Rod Persky notifications@github.com wrote:

[2014-02-03 08:33] Rod-Persky commented on #94
Hi @ibell,

Sorry I made a massive mess of my fork and instead deleted everything, I'll bring back the docs on Wednesday! If the project is on github I can simply get it up and running for you.

Rod.

[2014-02-03 15:56] jowr commented on #46
@ibell, we are talking eleven fluids here, but let me see if I can do it later tonight.

[2014-02-03 16:24] ibell commented on #46
Ah sorry, I thought it was just two left.  Whenever you have a moment
that would be great!  If you see other issues that are quick fixes,
lets close them out.

On 2/3/14, Jorrit Wronski notifications@github.com wrote:

[2014-02-03 18:57] jowr commented on #116
I removed the original folder since CPP does not need a wrapper, it is just a shared object, see ea2028ea5fb9a8dfb4278eeb5a693e8cf049a54c for details. I also wrote a build script for Windows and made the exports aware of the `extern "C"` notation.

[2014-02-03 18:57] #116 closed, assigned to nobody

[2014-02-03 18:59] jowr commented on #67
Fixed in ea2028ea5fb9a8dfb4278eeb5a693e8cf049a54c . We can now use CoolProp with our ancient Fortran77 software on Windows and Linux...
Please reopen in case anyone needs a more sophisticated wrapper.

[2014-02-03 18:59] #67 closed, assigned to nobody

[2014-02-03 20:06] ibell commented on #58
This now works by calling DLL.

More functions could be added to wrapper, and Scilab-style functions should all be moved to new cpp file to keep things clean.  Nothing else will need the scilab style functions

[2014-02-03 20:11] ibell opened #122 "Update documentation"
Add I&ECR to website
Clean up front page

[2014-02-03 21:30] #104 closed, assigned to nobody

[2014-02-03 22:43] #58 closed, assigned to nobody

[2014-02-04 00:17] ibell commented on #121
@jowr, I fixed this for pure and pseudo-pure fluids I think, what about the incompressibles/solutions?  Can we easily make them also always return SI (W/m/K) units?

[2014-02-04 00:23] ibell commented on #121
See also 9a000495d76de8181c363c25a22427b0f8d24086

[2014-02-04 00:27] ibell commented on #94
@Rod-Persky  I had tried to get CoolProp building (Cython+) on RTD, but I guess that's a lost cause.  It would be nicer if they just allowed for compilation than relying on mocking of the interface.  It makes things depending on compiled code essentially impossible to integrate with RTD.

The sooner the better for CoolProp!

[2014-02-04 06:09] shabdaly commented on #107
I'm having the same problem trying to install this on Mac OSX. I tried following the steps above, but still couldn't get it installed. The archive file master.zip does not contain a setup.py file in the top directory. There is one in the dev subdirectory of the archive, but it's not clear if that is the one you meant?

[2014-02-04 07:48] ibell commented on #107
Are you trying to install for python?  If so, cd wrappers/Python, then run
the setup.py script in that folder.

On Tue, Feb 4, 2014 at 7:09 AM, shabdaly notifications@github.com wrote:

[2014-02-04 08:37] shabdaly commented on #107
Thanks for the reply. Now it seems to be installed, but I when I try importing the module I get the same error appearing above:

[code]

[2014-02-04 08:51] jowr commented on #121
Don't they already return SI units? I think they do. I remember changing everything to SI when I rewrote the incompressible classes...

[2014-02-04 09:05] ibell commented on #107
I thought I fixed this problem.  Can you send me a copy of the full build
process?  Something has gone funny with the git revision parsing again it
seems.  Can you please also attach the file referenced in your last email?
I'm curious to see what it looks like.

On Tue, Feb 4, 2014 at 9:37 AM, shabdaly notifications@github.com wrote:

[2014-02-04 09:44] shabdaly commented on #107
I've put a log file and the requested file at the link below:
https://gist.github.com/shabdaly/8800694
It look as if there's a missing double quote. Not sure if it's just a matter of manually sticking one in, or does this originate somewhere else?

[2014-02-04 09:55] shabdaly commented on #107
Manually adding in a second double quote seems to have fixed it for me for now.

[2014-02-04 10:06] ibell commented on #107
There should be a git revision in that broken string.  I'll have to do some
more debugging to figure out why that isn't the case.

On Tue, Feb 4, 2014 at 10:55 AM, shabdaly notifications@github.com wrote:

[2014-02-04 10:30] jowr commented on #46
Added in 41416acc7c7f6ff7a6304067daa0707a9462deee

[2014-02-04 10:30] #46 closed, assigned to jowr

[2014-02-04 10:42] ibell commented on #121
Ok cool, there's just some funny business for brines for conductivity(
https://github.com/ibell/coolprop/blob/master/CoolProp/CPState.cpp#L1462)
and viscosity(
https://github.com/ibell/coolprop/blob/master/CoolProp/CPState.cpp#L1441)
.  You're the expert on those!

On Tue, Feb 4, 2014 at 9:51 AM, Jorrit Wronski notifications@github.comwrote:

[2014-02-04 10:43] ibell commented on #46
Bueno!

On Tue, Feb 4, 2014 at 11:30 AM, Jorrit Wronski notifications@github.comwrote:

[2014-02-04 10:43] ibell opened #123 "gitrevision parsing problems on linux doesn't work"

[2014-02-04 11:14] jowr commented on #121
Yes, I know. The problem is that we need to construct the string
containing the concentration. Calling the Props function returns values
in kSI, therefore the conversion. There does not seem to be a way around
this until we handle concentration properly.

On 04/02/14 11:42, Ian Bell wrote:

[2014-02-04 11:24] ibell commented on #121
Ah right that makes sense.  I think everything else is now SI

On Tue, Feb 4, 2014 at 12:14 PM, Jorrit Wronski notifications@github.comwrote:

[2014-02-04 16:13] #121 closed, assigned to nobody

[2014-02-04 22:58] ibell commented on #107
Can you try again please?  I made some changes to the build script.  Thanks

On Tue, Feb 4, 2014 at 11:06 AM, Ian Bell ian.h.bell@gmail.com wrote:

[2014-02-04 22:59] ibell commented on #122
Fixed in revision 2353cea7c9049f1ad179e5cb0fdb3f7a6c6ca335

[2014-02-04 22:59] #122 closed, assigned to nobody

[2014-02-04 23:21] spinnau commented on #117
@ibell Now the ancillary equations will be used for first phase check. Thanks for your hints on that. Please see f3297e9dd5ceeb8051bc79c968ab698cd3827c5d for the changes.

[2014-02-05 09:10] jowr opened #124 "building the docs"
I understand that this is under heavy development (see https://github.com/ibell/coolprop/issues/99 and https://github.com/ibell/coolprop/issues/94), but I cannot get the docs to build.
- There is a `Fluids` folder missing in `Web`
- Sphinx uses deprecated modules `exception: cannot import name xfileref_role` should be replaced by `sphinx.roles.XRefRole`
- Parsing the BibTex file throws an exceptio

[2014-02-05 13:36] ghobold opened #125 "Unable to make the Fluent wrapper work"
Hello,

I have been trying for quite some time to integrate Fluent and Coolprop using the wrapper announced in October 2013 (http://www.cfd-online.com/Forums/main/125043-now-possible-have-open-source-real-gas-properties-fluent-other-cfd-codes.html) but have been unable to do so, maybe because I am kind of new to both Linux and Fluent UDFs. I am using Fedora 20 and Fluent 14.57.

So, first thing I

[2014-02-05 21:12] BartoszBB opened #126 "Bug with Matlab wrapper"
The input for which coolprop fails (it's only example- thera are others):
H_Cs=132.729899237037
P_Cs=4997.12399496759
with call like this:
T_Cs=Props('T','H',H_Cs,'P',P_Cs,'water');
I get:
CoolProp error: Number of steps in density_TP has exceeded 30 with inputs T=273.16,p=4.99712e+006,rho_guess=1002.73 for fluid Water

I have tried to use CoolProps via MathCad wrapper for above values, and it wor

[2014-02-05 21:31] ibell opened #127 "Fix Methanol and acetic acid around critical point. Problem with EOS?"

[2014-02-06 17:26] shabdaly commented on #107
I'm not sure which one you wanted to retry. I assume you've updated the file at the link https://github.com/ibell/coolprop/archive/master.zip
If so, it doesn't seem to be fixed. I get the same error I had before (missing quote).

[code]

[2014-02-06 17:34] shabdaly commented on #107
Deleting the module and then trying to install using:

[code]

or:

[code]

didn't work either. In the first case I would get:

[code]

But it didn't seem to be installed, so I tried using -U, but then I get the original error:

[code]

Let me know if there are different steps you would like me to follow.

[2014-02-06 17:45] ibell commented on #107
1. Do you have git installed?
2. Can you please give me the full output of when you try to run the
   setup.py file from the master zip file at the URL you note?  It should
   work...  Except that it doesn't

On Thu, Feb 6, 2014 at 6:34 PM, shabdaly notifications@github.com wrote:

[2014-02-06 17:52] ibell commented on #125
The response from our FLUENT developers:

It is difficult to determine the cause of the problems from a distance. As you probably remember, we also had to try a lot of options and see what worked. Compiling is still system dependent.

It is normal that it does not work as interpreted UDF; it will only work as compiled UDF in Fluent. The output of the compilation in Fluent is all right, but the com

[2014-02-06 18:05] shabdaly commented on #107
1. Yes, git is installed (but I'm not using it here).
2. The compilation processes completes successfully with no error messages. A copy of the terminal output is available here:
   https://gist.github.com/shabdaly/8849290
   The problem only appears when, in iPython I first import CoolProp:

[code]

and it doesn't get imported.

But I just noticed that when I repeat the import command above, I do

[2014-02-06 19:16] ibell commented on #107
Ok, I think I have fixed it.  Please give me the output of the build script
for you when building from the zip

On Thu, Feb 6, 2014 at 7:05 PM, shabdaly notifications@github.com wrote:

[2014-02-07 17:34] shabdaly commented on #107
Ok, it's fixed. The error message no longer appears when importing CoolProp.

As you requested, the output of the build script is available here:
https://gist.github.com/shabdaly/8867621

Cheers.

[2014-02-07 21:19] #123 closed, assigned to nobody

[2014-02-07 21:24] ibell commented on #107
Good to hear.  Thanks for the report.

On Fri, Feb 7, 2014 at 6:34 PM, shabdaly notifications@github.com wrote:

[2014-02-08 02:00] ghobold commented on #125
Thanks Dr. Bell, that did help but I'm still stuck (maybe a little closer to making it work, though).

When it was said that the problem is probably in the external compiling of the UDF (i.e., the shell file provided), I took a closer look and noticed that:

On line 14, the shell script assumes we are either working in the `fluent` directory or that it is loaded as a module. I had to fix that spec

[2014-02-08 08:04] ibell commented on #125
Can you give me the output of `nm libudf.so`?  It might be doing some
sort of funny name mangling.  With `nm` we can see what is being exported
in the SO

I think you are very close!

On Sat, Feb 8, 2014 at 3:00 AM, ghobold notifications@github.com wrote:

[2014-02-09 11:24] ibell commented on #124
1. With regards to the Fluids folder, the FluidInfoGenerator.py should fill
   that folder with the Fluid .rst files
2. What version of Sphinx do you use?  I don't get that error on Windows
   and the docs build more or less cleanly for me.
3. I don't get that parsing error either - can you give the full traceback?

With regards to the future, I am not 100% sure about the use of RTD.  I am
concern

[2014-02-09 20:23] jowr commented on #124
No problem, I just created the Fluids folder and that is fine

This is my output, obviously Sphinx 1.2:

[code]

... and here the full error from the fluid generator:

[code]

It's not crucial, but would be nice if it worked. I could also spend some time myself next week to get things fixed...

[2014-02-09 21:30] ibell commented on #124
@jowr The crux of the problem with Fluids folder is that you can't commit
an empty folder (annoying) in git, only files.  I should add a line to make
that folder if it doesn't already exist.

Try to disable the inheritance_diagram in conf.py ? I can't get it to work
anyway on windows.

I'll take a look at the other one tomorrow.  It does work for me on
windows, so I might need your help to debug.

[2014-02-09 21:38] ibell commented on #126
Fixed this particular issue in 0ef190a294f50816e60201cc9d42342c106739f1 Please file a more general issue if you can figure out what is causing the failure.  Thanks

[2014-02-09 21:38] #126 closed, assigned to nobody

[2014-02-09 21:51] #124 closed, assigned to nobody

[2014-02-09 22:25] jowr commented on #124
Works! Thanks.

[2014-02-09 22:28] ibell commented on #124
Good to hear!  There was a bug that I added to the BibTeX file that was
causing that error with the bibtex parsing.  Oops :)

On Sun, Feb 9, 2014 at 11:25 PM, Jorrit Wronski notifications@github.comwrote:

[2014-02-10 08:29] adalib opened #129 "Problem with fortran wrapper example"
Hi,

I have tried to run the fortran wrapper example. I could build the CoolProp.dll but I cannot create the example.exe with the build.bat file (see screenshot of the cmd windows above). I also tried to call the produced CoolProp.dll from a own fortran code but the program could not recognized the coolprop functions.
Thanks in advance for your help

![screenshot](https://f.cloud.github.com/assets

[2014-02-10 09:53] jowr commented on #129
The compiler cannot find the dll. You have to include the path to the dll in your build process. Please have a look at line 12 in the bat file. https://github.com/ibell/coolprop/blob/master/wrappers/Fortran/build.bat#L12

[2014-02-10 10:35] adalib commented on #129
I tried to include the path where my CoolProp.dll is but I got the same error. Sorry I have no experience with bat file, maybe I did something wrong... here is the line 12 of my modified bat file:
%FC% -g -o example examplef.o coolpropIF.o -Lc:\Users\antoine.dalibard\Desktop\CoolProp-4.0.0-windows_superpack\dist_temp\windows_superpack\CoolProp-4.0.0-source_code\wrappers\SharedLibrary -lCoolProp

[2014-02-10 14:17] jowr commented on #129
Well, it is very difficult to debug things from afar, but are you sure you have all the prerequisites installed? I mean, what kind of Fortran compiler are you using and how about the C-compiler?
For my personal setup, I installed python-xy, which includes the compilers and libraries needed.

[2014-02-10 14:45] adalib commented on #129
No I am not sure. I downloaded the CoolProp version from the website with Option 1. So I needed to download separately the wrapper/fortran files as well as the wrapper/SharedLibrary files to add them to my directory structure. Then I have installed MinGW (with include C and fortran compilers) in order to run this example.

Normally I use Microsoft visual studio 2008 und Intel visual Fortran v11.1.

[2014-02-10 15:23] #87 closed, assigned to nobody

[2014-02-10 16:18] #117 closed, assigned to nobody

[2014-02-10 16:33] squoilin commented on #113
Looks like it was a problem on my computer... cannot reproduce it on other machines

[2014-02-10 16:33] #113 closed, assigned to nobody

[2014-02-10 16:39] jowr commented on #129
OK, so let's start from the beginning.
1. Could you please get the zip file from https://github.com/ibell/coolprop/archive/master.zip
2. Unpack the zipfile to a directory of your choice.
3. Build the shared library for your system by running `wrappers\SharedLibrary\BuildDLL.bat`
   Please let me know if that works.

If successful, you can proceed and adjust the paths to the executables in line 5 a

[2014-02-10 16:54] ibell opened #130 "For some fluids ECS fails at low temperature because reference fluid is out of range"
See for instance

[code]

[2014-02-10 16:56] ibell opened #131 "Actually implement the pmax and Tmax and rhomax for the EOS"

[2014-02-10 16:57] ibell opened #132 "Consider warning semantics/ getter"

[2014-02-10 16:57] ibell opened #133 "Use xdress to generate wrapper for CoolProp"

[2014-02-10 17:48] ghobold commented on #125
Sorry for the delayed answer; didn't have access, in the weekend, to the computer in which Fluent is installed.

Here's what `nm libudf.so` says when the library is built through the shell file (lines 41-48): http://pastebin.com/3ywSesK1

Here's what `nm libudf.so` says when the library is built in Fluent (commenting lines 41-48):

[code]

So I suppose when Fluent builds the library, it is incompl

[2014-02-10 19:03] ghobold commented on #125
OK, now, for some reason, everything seems to be working just fine. I have done nothing different than before. I run the modified shell as root (changing the Fluent path & the makefile thing & leave the bottom lines uncommented), so the library is built. I load the library in Fluent and I am now able to run the EXECUTE_ON_DEMAND UDF.

Everything seems to be working just fine now, not sure what wen

[2014-02-10 19:06] ibell commented on #125
Good to hear on all fronts.  Our FLUENT support needs a good bit of work,
and we could really use some help on the Fluent documentation especially.
Care to help out there with a description of the hacks you had to do,
pitfalls?  We should pull the Fluent wrapper into CoolProp main source now,
especially if you can support it.

On Mon, Feb 10, 2014 at 8:03 PM, ghobold notifications@github.com wrote

[2014-02-10 19:26] ghobold commented on #125
Yes, of course, I can help. As I've said before, I am not an expert in Fluent or Linux, but I will learn along the way. I've never contributed to an open-source project like this, so I'm not sure where to start either. How should I document what I did? A text file or something more elaborate like a pdf or webpage?

[2014-02-10 19:47] ibell commented on #125
I have moved the Fluent wrapper into CoolProp in the wrappers/Fluent
folder.  Can you test that this script builds properly? You will probably
want to check out all of coolprop, either using git or the zip file at
https://github.com/ibell/coolprop/archive/master.zip

You can make changes to the README.rst file at
https://github.com/ibell/coolprop/tree/master/wrappers/Fluent once you have
an accoun

[2014-02-11 02:40] longapalooza opened #134 "R113 Critical Pressure"
I'm a PhD student that uses REFPROP for my research. My research deals with using the fluid properties of R113.  I thought I would try out CoolProp because I like open source software. When I tried to calculate the specific enthalpy of R113 at a temperature of 300K and a quality of 0 (i.e. saturated liquid), CoolProp returns a value of -150.67 kJ/kg while under the same conditions REFPROP returns

[2014-02-11 08:35] jowr commented on #134
Thank you for the comment on the critical pressure. I am sure @ibell can explain a little more about that.
Regarding your enthalpy values, please make sure that you compare with similar reference states. Have a look at https://github.com/ibell/coolprop/issues/112 for more details.

[2014-02-11 08:40] adalib commented on #129
Ok, now it works! Thanks

Now I am not sure I fully understood how to call this CoolProp.dll from a fortran program. Sorry I am not a developer (as you probably already noticed). I just code some TRNSYS models in fortran. I would like to know how I can call CoolProp functions from a fortran code. I use Intel Visual Fortran V11.1 and Microsoft visual studio 2008.

thanks

[2014-02-11 09:55] jowr commented on #129
There are a couple of pitfalls, but you should try to do as follows:
1. Make the shared library (you already did)
2. Put the library into your PATH (either by changing your environment variable PATH to include the CoolProp directory or by copying the DLL to a system folder like `C:\Windows\system`.
3. Compile Fortran code and remeber to tell the linker where the DLL is using the `-L` option for th

[2014-02-11 15:52] longapalooza commented on #134
That is what my problem is. The delta between enthalpies is same. Is there a method or function to check/change the reference state from within Mathcad and Matlab/Octave? I use both regularly and would like to have my values match that of REFPROP. I saw the set_reference_state from the link provided in the thread you referred me to but isn't that just for python?

[2014-02-11 16:29] jowr commented on #134
Sorry, I am afraid the functionality you ask for is not part of the wrappers, yet. If you can, you are invited to participate and contribute the functions you are missing.
Have a look at https://github.com/ibell/coolprop/blob/master/wrappers/MATLAB/Props.c to get an idea of how to modify the wrapper.

---

From: wlong007 [notifications@github.com]
Sent: 11 February 2014 16:52
To: ibell/coolprop
Cc

[2014-02-11 18:30] ibell commented on #134
@wlong007 Quite right about the critical pressure being wrong for R113.  I fixed it in 020e91f4e9a410d226b79a26c861d0210b54736b.  @jowr is quite right about the reference state.  The MATLAB wrapper is a disaster, but in Octave, the `set_reference_stateS` and `set_reference_stateD` functions are exposed through CoolPropDLL.h (https://github.com/ibell/coolprop/blob/master/CoolProp/CoolPropDLL.h#L90)

[2014-02-11 18:30] #134 closed, assigned to nobody

[2014-02-11 18:39] ibell commented on #129
@jowr - For TRNSYS, I think they use another compiler (Intel?) which could
make it difficult to link up with CoolProp.  But it should be only a case
of changing the compiler that is used, right?  That could be a tricky one
to debug though since I don't have access to TRNSYS or Intel FORTRAN

On Tue, Feb 11, 2014 at 10:55 AM, Jorrit Wronski
notifications@github.comwrote:

[2014-02-11 18:40] ibell commented on #125
Did the FLUENT wrapper compile using the files in the CoolProp repo?

[2014-02-11 18:43] ghobold commented on #125
No, I had to modify a few lines on the `compile.sh`. Already submitted the request for that, should be working now as long as the user reads the README.

[2014-02-11 19:05] ibell commented on #125
Great! Closing this issue.

[2014-02-11 19:05] #125 closed, assigned to nobody

[2014-02-11 23:02] jowr commented on #129
Yes, it could get difficult since I also do not have access to an Intel compiler...
I tried to prepare for the worst case by writing a C file that calls the dll. It works for us, but our section uses only g77 and gfortran. Let's hope for the best.

[2014-02-12 09:53] adalib commented on #129
yes we use Intel Visual Fortran for TRNSYS. I tried in a simple program to call CoolProp functions

[code]

But it did not work (did not recognize Props function) although I put the CoolProp.dll in the project directory. Something is missing here... probably what the file "CoolPropIF.c" does in the example. But I dont know how to solve this issue.

[2014-02-12 10:18] jowr commented on #129
Exactly. You do not have to load the DLL in Fortran, the C interface takes care of that. You have to link the Fortran object with the C object. The Fortran code will call the C functions, which in turn call the dll. It is not the cleanest way, but this is how I could get it to work. This is exactly what happens in https://github.com/ibell/coolprop/blob/master/wrappers/Fortran/build.bat
1. compile

[2014-02-12 12:00] adalib commented on #129
Ok I will try to do so. I will let you know if I manage to do it. Thanks a lot for your help

[2014-02-12 14:25] jowr opened #137 "Crtitical pressure units"
There still is a unit conversion bug somewhere:

[code]

Additionally, the critical pressure returned from the Modelica wrapper is also in kPa instead of Pa.

I will try to fix it and report progress later.

[2014-02-12 14:42] ibell commented on #137
Ugh.  A couple of things - have you played with the Catch unit testing
yet?  We should have a unit test for this in C++ level.  I wonder where the
unit conversion is not happening..  I'll take a look tonight.

On Wed, Feb 12, 2014 at 3:25 PM, Jorrit Wronski notifications@github.comwrote:

[2014-02-12 14:54] jowr commented on #137
No haven't played with the unit testing at all. Would be nice if you could have a look later.
- I fixed things in Modelica by just calling PropsSI directly.
- The Python issue remains: PropsU cannot handle two parameter calls properly.
- The general issue remains as well. Calling Props1 somehow leads to an unconverted output.

Would be nice to fix it soon.

[2014-02-12 15:03] ibell commented on #137
Yes I agree.  This is a high priority bug and I will fix it tonight, add a
Catch unit test, and resolve it.  We might want to consider releasing 4.1.1
as a bugfix to resolve this issue as well...

How heavily do you think that people use PropsU?  One idea I had was to
deprecate that function in favor of PropsSI or Props (which would be either
kSI or SI depending on the unit system in use).  That w

[2014-02-12 15:08] jowr commented on #137
Good point. Go ahead and deprecate it, it's a mess, really. I think no one besides me is using it :-)

[2014-02-13 01:42] longapalooza commented on #134
Thanks for all the help. I'll take a look at the Matlab wrapper if I find some time.

[2014-02-13 08:47] ibell commented on #137
Progress.  Props and PropsSI seem to operate properly now, but PropsU still
seems to be a bit wonky.  Was a coding error on my side:

[code]

[2014-02-13 09:29] #137 closed, assigned to jowr

[2014-02-14 11:00] ibell opened #138 "Add examples for more languages"
Is there a way to add examples for VBA and Excel?

How about EES?

[2014-02-14 11:01] ibell commented on #138
This would help with debugging, since the examples are run before the code is uploaded. We could therefore do rough integration testing.

[2014-02-14 18:32] ghost opened #140 "Error while compiling in MATLAB"
Hey,

I tried to install CoolProp for using it in MATLAB, but during compiling the process crashed.
I was told to post the whole output, so here you go (sorry, but it is a lot):

MATLABBuilder_OSX

path_to_src =

../../CoolProp/

../../CoolProp/AllFluids.cpp

Warning: You are using gcc version "4.8.1".  The version
         currently supported with MEX is "4.7.x".
         For a list of currently

[2014-02-14 18:39] ibell commented on #140
Ah, a couple of problems I can see:
1. You have too new a compiler, it wants 4.7.x, you have 4.8.1.
2. gcc is being pedantic about the style of comments.  I'll fix that.

The rest are harmless warnings.

On Fri, Feb 14, 2014 at 7:32 PM, moritze notifications@github.com wrote:

[2014-02-14 20:55] ibell commented on #140
Hopefully fixed in e77eae6f90dcfae6e93b70c78ecec276bcc16a76 please let us know if this works for you now.

[2014-02-14 23:22] ibell opened #143 "Melting curves"
p/pt-1 = sum_i(n_i_((T/Tt)_*m_i-1))
AMMONIA.FLD:494:ML1  melting line model of Haar and Gallagher (1978).
ARGON.FLD:729:ML1  melting line model of Tegeler et al. (1999).
BUTANE.FLD:872:ML1  melting line model of Buecker and Wagner (2005).
CO.FLD:397:ML1  melting line model of Barreiros et al. (1982)
CO2.FLD:686:ML1  melting line model of Span and Wagner (1996).
CYCLOHEX.FLD:337:ML1  melting line m

[2014-02-14 23:24] ibell opened #144 "Add critical curves"
see Fig 7.7 from GERG 2004

[2014-02-14 23:26] #140 closed, assigned to nobody

[2014-02-15 12:46] ghost opened #145 "MATLAB density calculation pressure set to 0"
Hey,

I wanted to let you know if pressure set to zero (this happens e.g. when differential equation is initialized), density cannot be calculated.
MATLAB is busy but does not answer anymore. It somehow sticks.

Props('D', 'H', 100, 'P', 0, 'Water')

Otherwise it works fine; also when enthalpy is set to zero.

[2014-02-15 12:47] ibell commented on #145
Can you set it to 1e-10 in your code?  It's weird that a zero pressure causes a hang.  Thanks for the bug report.  I'll see what is going on.

[2014-02-15 12:51] ghost commented on #145
Then it "works":

Props('D', 'H', 100, 'P', 1E-10, 'Water')
Error using Props
CoolProp Error: CoolProp error: Your saturation pressure [0.000000 Pa] is out of range
[611.654771 Pa, 22064000.000000 Pa]

[2014-02-15 22:04] ibell opened #146 "CoolProp + OpenModelica"
@jowr @squoilin

This looks interesting:
https://openmodelica.org/index.php/forum/topic?id=1020

Seems like we aren't actually too far off.  Can we make the necessary changes?  If we could get CoolProp working with OM that would be great.  And it would make it quite possible to get ThermoCycle working with it too

[2014-02-15 23:39] ibell opened #147 "Fix the absolute import error in Python"

[2014-02-15 23:47] #147 closed, assigned to nobody

[2014-02-17 14:19] ibell commented on #145
Short answer, don't initialize in that region.  Its solid there.  You can use zero pressure inputs now in the superheated vapor region.

[2014-02-17 14:19] #145 closed, assigned to nobody

[2014-02-17 15:01] #127 closed, assigned to nobody

[2014-02-17 19:09] jowr commented on #129
Antoine, I talked to some colleagues today, but no one here uses the Intel compiler. I now applied for a trial download of the software and installed it. Let's see if I can help you on Wednesday...

[2014-02-17 19:53] ibell commented on #129
I had the idea I would buy the Intel compiler so that we could do some
debugging, and then I looked at this page :
http://software.intel.com/en-us/fortran-compilers .  Crap that's expensive.

On Mon, Feb 17, 2014 at 8:09 PM, Jorrit Wronski notifications@github.comwrote:

[2014-02-17 21:07] ibell commented on #110
Just needed better ancillaries

[2014-02-17 21:07] #110 closed, assigned to ibell

[2014-02-18 02:48] Rod-Persky commented on #116
Jorrit,
I was actually using the shared / static library generated by the CPP Makefile in a number of projects. Sorry I don't understand how to use coolprop as a library without the coolprop library. Would we be able to add this back?

[2014-02-18 08:33] jowr commented on #116
Is this what you are looking for:  https://github.com/ibell/coolprop/tree/master/wrappers/SharedLibrary ?
Sorry if I confused you.

[2014-02-19 02:24] Rod-Persky commented on #116
Ahh there it is! Thanks.

[2014-02-19 14:46] jowr commented on #129
Well, it took me some time, but now I can make a C call from Fortran using Intel Visual Fortran and Visual Studio for C. I had no luck with CoolProp though. I'll try again tomorrow.

[2014-02-19 14:47] jowr commented on #129
You might also want to ask Intel's support. The product isn't cheap and I guess some sort of support must be included.

[2014-02-20 16:33] ibell opened #150 "rho_smoothed derivatives when TTSE enabled fails"

[2014-02-21 18:39] ghobold opened #151 "Fluent wrapper progress"
I have started using the Fluent wrapper and it seems to be working fine. I made a basic UDF to integrate the library with the solver itself (so Fluent is able to probe properties from Coolprop while computing the solution, instead of a "execute on demand" program as before). Fluent has a bult-in NIST real gas model for several fluids (for some reason, not for air) which I used to compare the resul

[2014-02-21 18:47] ibell commented on #151
Awesome!!!  Yes we can definitely add this as example files for Fluent!  I
am curious to know what state variables you use.  If it's temperature and
density we should be faster than NIST, if its temperature and pressure,
REFPROP is faster. I'm not sure why, but they are.

In any case, this looks really really great.

How big are the files?  If they aren't too large it would be nice to have
everyth

[2014-02-21 19:00] ghobold commented on #151
I'm using temperature and pressure, I am not sure if Fluent supports temperature and density, but I will look into that. The mesh/cash files are about ~3mb each. The biggest files (data ones) are about ~30mb each (two of them, one for Coolprop and other for REFPROP). That's probably because I used a very fine mesh, but I will add them and you see if they are worth it.

I don't have any experience

[2014-02-21 19:10] ghobold commented on #151
How can I add files that are neither text or code? Do I need git?

[2014-02-21 19:12] ibell commented on #151
The EOS are all of the form p(T,rho), so if you use T,p as state variables,
you will always have to iterate on the density to get the imposed
pressure.  This takes quite some time (4x slower) and if you can, you
should really use T,rho as inputs.  You'll see a large speedup!

On Fri, Feb 21, 2014 at 8:00 PM, ghobold notifications@github.com wrote:

[2014-02-21 19:25] ibell commented on #151
I think you might need git to push them.  They are really quite large, so I wonder about making another repo for the bigger files, something along the lines of coolprop-supplemental or something like that.

And then we could have another repo that is nightly builds of all of the installers for all the languages for all of the platforms.  I could set up virtual images to do all of this on my machin

[2014-02-21 19:25] ibell opened #153 "Make a coolprop-supplemental repo for large files, examples, etc."

[2014-02-21 19:35] ghobold commented on #151
OK, I think that's a good idea. Let me know if you decide to do that so I can push the example. I will document the UDF in the README.

[2014-02-22 17:30] #99 closed, assigned to nobody

[2014-02-22 17:30] ibell commented on #99
Fixed in 283a4f609e684ecf82bef7550468b5d33a0a0f93

[2014-02-22 19:32] #153 closed, assigned to nobody

[2014-02-22 19:33] ibell commented on #151
coolprop-supplemental is now at https://github.com/coolprop/coolprop-supplemental .  Go ahead with a pull request

[2014-02-22 19:59] ghobold commented on #151
Great, I will do that on Monday, as only then I will have access to my lab computer. I also managed to use density and temperature as variables for thermal conductivity and viscosity, and the computation time reduced to ~35 seconds, still a little slower than NIST. I will look into using the density-based solver instead of the pressure-based solver in Fluent, then solving for pressure as function

[2014-02-22 20:02] ibell commented on #54
I think this issue should be closed for now.  If we can find someone that uses openFOAM, I'd be happy to revisit this ticket.

[2014-02-22 20:02] #54 closed, assigned to nobody

[2014-02-22 20:15] ibell commented on #151
So what are the timings now if you use temperature and density as state
variables?

On Sat, Feb 22, 2014 at 8:59 PM, ghobold notifications@github.com wrote:

[2014-02-22 20:40] ibell commented on #108
@Rod-Persky Can you show me where to set up the hooks for the pypi uploading, etc?

[2014-02-22 23:37] ghobold commented on #151
As mentioned, I was only able to use thermal conductivity and viscosity as a function of T and rho. The clock time was ~35 seconds compared to the ~27 seconds by REFPROP. I will look into the Fluent density-based solver (the default is pressure-based) so we can use p = p(T, rho) instead of rho = rho(p, T). This should reduce the time as well.

[2014-02-24 06:25] ashuraj25 opened #155 "Cool prop"
How to find the codes for all the engineering thermodynamic parameters?
Like ones I know are
O for calorific value at constant volume etc.
What are the ones for adiabatic index and where to find complete list?

[2014-02-24 08:25] jowr commented on #155
I hope this is what your are looking for: http://coolprop.sourceforge.net/contents.html

[2014-02-24 08:48] ibell commented on #155
I think it is more likely to be this one :
http://coolprop.sourceforge.net/apidoc/CoolProp.html#CoolProp.CoolProp.DerivTerms

Acutally @jowr, it would be great if we could do some more documentation on
the derivatives.  And perhaps do a bit of cleanup on the naming conventions
we use as well.

Ian

On Mon, Feb 24, 2014 at 9:25 AM, Jorrit Wronski notifications@github.comwrote:

[2014-02-24 08:50] jowr commented on #155
Yes, let's put it on the list for next week.

[2014-02-24 08:54] ashuraj25 commented on #155
@jowr @ibell I have lokked at both the pages but i still couldnt find some of the thermodynamic properties there. like adiabatic index symbol. Is there any page with complete lists that is bit easy to comprehend?

[2014-02-24 08:58] ibell commented on #155
We don't directly have a symbol for adiabatic index, but that's simple
enough already since its just cp/cv.  Some of the other derivatives could
be exposed without too much trouble.  What else would you like to have?

On Mon, Feb 24, 2014 at 9:54 AM, ashuraj25 notifications@github.com wrote:

[2014-02-24 09:02] ashuraj25 commented on #155
@ibell Thanks sir. I had already implemented it by cp/cv .I just wanted  to know if there were direct symbols for it that i have missed out. Thanks again for the help

[2014-02-24 09:03] ibell commented on #155
Any other derivatives that you want access to?

On Mon, Feb 24, 2014 at 10:02 AM, ashuraj25 notifications@github.comwrote:

[2014-02-24 09:21] ashuraj25 commented on #155
@ibell Not now sir. Thanks

[2014-02-24 16:51] lindsayldy opened #156 "CoolProp Humid Air"
When calculate the humid air under -8C  with dry-bulb, wet-bulb and pressure, Coolprop can't run out a result. P.S., it's for Excel

[2014-02-24 16:59] ibell commented on #156
Can you give me minimal working example for a function call that fails?

Also, what language, OS, 32-bit or 64-bit? I'll take a look.

On Mon, Feb 24, 2014 at 5:51 PM, lindsayldy notifications@github.comwrote:

[2014-02-24 17:05] lindsayldy commented on #156
Hi, Ian

I am working on the 64-bit English version.

When I tried to calculate the following, it fails, no matter what the wet-bulb temperature is
=HAPROPS("H","T",265,"B",264,"P",101.3)

But when I raised the dry-bulb temperature to 266, it works

Thank you !

Danyang Li
Thar Geothermal / Thar Energy
150 Gamma Drive
Pittsburgh, PA 15238
P  412-378-1662

---

From: Ian Bell [notifications@github.

[2014-02-24 17:07] ibell commented on #156
Sorry what programming language ? Excel, MATLAB, etc.?

On Mon, Feb 24, 2014 at 6:05 PM, lindsayldy notifications@github.comwrote:

[2014-02-24 17:08] lindsayldy commented on #156
Excel

Danyang Li
Thar Geothermal / Thar Energy
150 Gamma Drive
Pittsburgh, PA 15238
P  412-378-1662

---

From: Ian Bell [notifications@github.com]
Sent: Monday, February 24, 2014 12:07 PM
To: ibell/coolprop
Cc: Li, Danyang
Subject: Re: [coolprop] CoolProp Humid Air (#156)

Sorry what programming language ? Excel, MATLAB, etc.?

On Mon, Feb 24, 2014 at 6:05 PM, lindsayldy notifications@github.com

[2014-02-24 20:21] ghobold commented on #151
OK, I think I managed to make a pull request of the example files using git, took me a while to figure out how to use it, though. I will document the example soon.

By the way, I believe, that, for now, ~35 seconds against the REFPROP's ~27 seconds is as good as it gets, apparently. I don't know why REFPROP is faster, though, perhaps because it is already integrated in Fluent rather than loaded as

[2014-02-25 00:04] ibell opened #157 "Add a PropsSI function for MATLAB"

[2014-02-25 08:11] kaern opened #158 "Still unit problems with TTSE"
Eventhough Jorrit fixed the unit error in the TTSE for thermal conductivity. There are still problems with beta and speed of sound.. see comparison w/o TTSE enabled..

![untitled](https://f.cloud.github.com/assets/2339689/2255406/50de7ef8-9df4-11e3-876a-b0895b8bdf34.jpg)

[2014-02-25 08:14] ibell commented on #158
which is which?

On Tue, Feb 25, 2014 at 9:11 AM, kaern notifications@github.com wrote:

[2014-02-25 08:21] jowr commented on #158
Did you delete and regenerate the table data? There was an error with the stored data...

[2014-02-25 08:24] ibell commented on #158
I bumped the rev, so it should be forced to build the new tables again
theoretically.

On Tue, Feb 25, 2014 at 9:21 AM, Jorrit Wronski notifications@github.comwrote:

[2014-02-25 08:49] jowr commented on #25
This does not work any more. Does anyone have an idea about what happened?

[2014-02-25 08:57] kaern commented on #25
It seems that the source code has been deleted:

compare computation of cv:

`double CoolPropStateClassSI::cv(void){
    if (fluid_type == FLUID_TYPE_INCOMPRESSIBLE_LIQUID)
    {
        return pIncompLiquid->c(_T, _p);
    }
    else if (fluid_type == FLUID_TYPE_INCOMPRESSIBLE_SOLUTION)
    {
        // TODO SOLUTION
        double val_KSI = Props("C",'T',_T,'P',_p,brine_string);
        return c

[2014-02-25 08:57] ibell commented on #25
Ill take a look and add a test to make sure it stays working in the
future.  Thanks for the report.

On 2/25/14, Jorrit Wronski notifications@github.com wrote:

[2014-02-25 08:58] jowr commented on #25
I am currently browsing revision to find the commit that deleted things...

[2014-02-25 09:04] kaern commented on #158
TTSE (red) gives the unrealistic high speed of sound (left) for water at p = 80 bar and T=500 K as I remember. beta on the right.. Jorrit is working on this issue..

[2014-02-25 09:25] kaern commented on #25
have a look at rev: 717b8b19b6c44516cfd3def6c876d9bf0ebff7b1

[2014-02-25 09:29] jowr commented on #25
Thank you Martin, I'll try to add the functions again.

[2014-02-25 10:48] jowr commented on #25
Back in business
![two-phase](https://f.cloud.github.com/assets/769593/2256649/58766408-9e0a-11e3-866f-caa0ba519360.png)

[2014-02-25 10:52] #25 closed, assigned to nobody

[2014-02-25 10:52] #158 closed, assigned to nobody

[2014-02-25 10:55] ibell commented on #25
What had happened?  Did some code get merged that shouldn't have?  This is
a pretty compelling argument for more aggressive unit testing.

On Tue, Feb 25, 2014 at 11:52 AM, Jorrit Wronski
notifications@github.comwrote:

[2014-02-25 11:01] jowr commented on #25
Ian, I am afraid you deleted the code when you merged local changes to the master in 717b8b1, but yes, more testing had saved us some time...

[2014-02-25 11:05] ibell commented on #25
Oops.  Probably late night coding I suspect.

On Tue, Feb 25, 2014 at 12:01 PM, Jorrit Wronski
notifications@github.comwrote:

[2014-02-25 13:31] ghobold commented on #151
I changed Props() to PropsSI() and Coolprop seems to be at least as fast as REFPROP now, only more stable and taking less iterations.

[code]

[2014-02-25 13:34] ibell commented on #151
Yeah I pulled your PR, take a look at my comments, I think you can still
make it faster!

On Tue, Feb 25, 2014 at 2:31 PM, Gustavo notifications@github.com wrote:

[2014-02-25 14:16] ghobold commented on #151
Thanks! As I said in my comment, I don't know how to somehow replace the DEFINE_PROPERTY macro for density, but I will keep my eyes open. What I want to do now is find a way to make specific heat a function of something else other than only temperature (temperature and density would be ideal).

[2014-02-25 14:36] ibell opened #160 "REFPROP mixture names should not be case sensitive for .mix"

[2014-02-26 08:28] #151 closed, assigned to nobody

[2014-02-26 08:28] #155 closed, assigned to nobody

[2014-02-26 08:29] ibell commented on #151
Good luck with that!  I'm closing this issue for now, let me know if you
need anything

On Tue, Feb 25, 2014 at 3:16 PM, Gustavo notifications@github.com wrote:

[2014-02-26 08:31] #160 closed, assigned to nobody

[2014-02-26 13:54] thermoengineer opened #161 "inconsistency on HAProps values"
Hello
We have realised that on the coolprop HAPROPS returns stranger values. Please see the examples below. You can understand what I try to mention. For example T values are wavying.

 var 1 = CoolProp.HAProps("T", "H", 165, "P", atmosferikBasinc, "R", 1)-273.15;=> 160.38580260355536
var 2 = CoolProp.HAProps("T", "H", 164, "P", atmosferikBasinc, "R", 1) - 273.15; => 39.67140102354756
var 3 = Cool

[2014-02-26 15:40] ibell opened #162 "Refactoring thoughts for 5.0"
@jowr I've been starting to refactor in little ways, and I have a few other ideas:
- I want to deprecate/remove the ancillary rhosatL_anc() etc. functions, and use a class method of CoolPropStateClassSI and friends instead to get ancillaries.  We should still maintain the ability to retrieve the values from PropsSI without a saturation call though.  These are not very heavily used I don't think, e

[2014-02-26 15:55] jowr commented on #162
Yes, I very much agree with these points. I suggest to divide the software into two more or less independent parts: Pure/pseudo pure fluids and mixtures. The mixture part might call the other one, but not vice versa. Furthermore, I suggest to make all the wrappers use the shared libraries. This causes some work now, but updating one shared library is so much easier than each and every wrapper.

[2014-02-26 15:58] ibell commented on #162
What about call overhead when using shared libraries?  Passing data through
the shared library interface slows things down quite a bit, right?

On Wed, Feb 26, 2014 at 4:55 PM, Jorrit Wronski notifications@github.comwrote:

[2014-02-26 16:01] jowr commented on #162
Yes it does, but I have no feeling for how important that is. Well, let's see. If you want, you can have a look at the https://github.com/ibell/coolprop/tree/OOStructure branch. That is where I tried to sketch a possible new layout during Christmas time...

[2014-02-26 16:14] ibell commented on #162
Yes I'll take a look at the proposed structure and do some thinking.  I
like what I see so far.

Another aggressive idea that I have very mixed feelings about is the use of
explicit units throughout the C++ codebase.  Rather than passing a double
to the T(h,p) function we pass a PressureUnit, or something like that.
There are some packages that are reasonably easy to use in C++ for units,
but I ha

[2014-02-26 19:28] ibell commented on #156
Ok, I fixed this bug.  I put interim versions of the DLLs in http://sourceforge.net/projects/coolprop/files/CoolProp/Nightly/2014.02.26/

[2014-02-26 19:28] #156 closed, assigned to nobody

[2014-02-26 19:44] ibell commented on #161
Bug fixed.  Output from

[code]

is

[code]

[2014-02-26 19:48] ibell commented on #161
Download at http://sourceforge.net/projects/coolprop/files/CoolProp/Nightly/2014.02.26/

[2014-02-26 19:52] lindsayldy commented on #156
Thanks!

Danyang Li
Thar Geothermal / Thar Energy
150 Gamma Drive
Pittsburgh, PA 15238
P  412-378-1662

---

From: Ian Bell [notifications@github.com]
Sent: Wednesday, February 26, 2014 2:28 PM
To: ibell/coolprop
Cc: Li, Danyang
Subject: Re: [coolprop] CoolProp Humid Air (#156)

Ok, I fixed this bug. I put interim versions of the DLLs in http://sourceforge.net/projects/coolprop/files/CoolProp/Nigh

[2014-02-27 08:36] JDPS opened #163 "SES 36 - Helmholtz energy functions"
First, my sincere congratulations and acknowledgments for coolprop database.
I found this database since I need to simulate a system running on SES36.
Unfortunately I think that will be impossible, since I didn’t find Helmholtz energy functions.
Can you please confirm if I am correct?
Thank you very much.

[2014-02-27 08:44] jowr commented on #163
Hello, I am not sure what you are referring to, but the inputs `phir` and `phi0` might be what you need. Please have a look at http://coolprop.sourceforge.net/apidoc/CoolProp.html#CoolProp.CoolProp.DerivTerms , in principle, the inputs to `DerivTerms` also work with the `Props` function, which is accessible from most wrappers. Please let us know which software you are using, that makes it much eas

[2014-02-27 08:48] jowr commented on #163
You could also use the standard relations, please see http://en.wikipedia.org/wiki/Helmholtz_free_energy

`a = u - Ts` with `u = h - p/rho` ...

[2014-02-27 09:02] ibell commented on #163
@jowr is right on the money.  What exactly is the issue that you are having?

[2014-02-27 11:28] JDPS commented on #163
Thanks for the quick answer.
I am not an expert on programming.
I am trying to implement SES36 COOLPROP database in EBSILON software.
EBSILON has an editable C-language source code. This source was used in the past for calling REFPROP dll library.
On this source I have to supply the functions that will be called by Ebsilon Kernel.
The functions called by EBSILON are:

USER2PHASEDLL_API double H_PT

[2014-02-27 11:35] ibell commented on #163
You don't want to call SES36 fluid directly, you want to call the PropsSI()
function you can find in CoolPropDLL.h .  That way you could easily call
another fluid by just changing the fluid name.  You need the whole package
in able to enable all the inputs you want.  The first thing that you should
make sure you can get working is to call the K2F function which converts a
temperature in Kelvin to

[2014-02-27 13:10] JDPS commented on #163
I was trying to simplify, since I only need SES36 data.
Unfortunately EBSILON professional requires the implementation of all functions.
Thank you for the information, it was very helpful. At least I know that it can be done.
I will try to implement the functions, but first I will do your suggestion of stating with temperature conversion.

[2014-02-27 14:57] squoilin commented on #162
Don't really know how this is to be treated, but for the incompressible fluids like LiBr, it would be nice to have concentration as an input, instead of inside the filename string

[2014-02-27 15:04] ibell commented on #105
Closing since this paper does not provided the necessary critical parameters - thus impossible to implement the EOS

[2014-02-27 15:04] #105 closed, assigned to nobody

[2014-02-27 15:05] #161 closed, assigned to nobody

[2014-02-27 15:19] thermoengineer commented on #161
Dear Ian,
Thank you for fixing the bug. It works well again.
BR
Hasan

[2014-02-27 15:23] ibell commented on #161
Good to hear!

Ian

On Thu, Feb 27, 2014 at 4:19 PM, hasanacul notifications@github.com wrote:

[2014-02-27 20:20] spinnau opened #164 "State class not working on python 3"
In CoolProp version 4.1 the _State_-class is not working on python 3:

[code]

This bug firstly occurs after the changesets 7599c77360287c3c0f3835b and 3c7e73c24b877936c0c918 (Fixed CoolProp.pyx).

There are also errors for _State_ class with Python 3 (python 3.3.4 / cython 0.19.2 and cython 0.20.1) in master. With Python 2.7 it works fine for 4.1 and master.

[code]

[2014-02-27 20:22] ibell commented on #164
I'll take a look tomorrow!

On Thu, Feb 27, 2014 at 9:20 PM, spinnau notifications@github.com wrote:

[2014-02-27 22:32] #120 closed, assigned to nobody

[2014-02-27 22:58] ibell commented on #146
I think close this issue?  I'm going to add a note to the refactor braindump.

[2014-02-27 22:58] #146 closed, assigned to nobody

[2014-02-28 09:06] #157 closed, assigned to nobody

[2014-02-28 10:59] #164 closed, assigned to nobody

[2014-02-28 17:51] ghobold opened #165 "BibTeX citation problem"
Just so to let you know that BibTeX will fail when compiling the citation suggested in http://coolprop.sourceforge.net/citation.html

The part `journal = {Industrial & Engineering Chemistry Research},` should be `journal = {Industrial \& Engineering Chemistry Research},`

If the backslash is not included, the BibTeX interpreter will think `&` is an alignment character rather than simply a characte

[2014-02-28 18:02] ibell commented on #165
Thanks I'll fix it this evening.

On 2/28/14, Gustavo notifications@github.com wrote:

[2014-02-28 20:55] #165 closed, assigned to nobody

[2014-03-01 18:09] spinnau commented on #164
Thanks for the quick fix. _Master_ works on Python 2 and 3 now...

[2014-03-03 08:37] jowr opened #166 "Include CoolProp in ExternalMedia"
- [x] Make ExternalMedia compile on Linux
- [x] Add CoolProp to the latest version of ExternalMedia for Modelica
- [x] Commit changes to the Modelica.org SVN server
- [x] Alter the Modelica code to handle extended features introduced by CoolProp2Modelica - like f(h,s), EXTTP, TTSE and index reduction annotations

[2014-03-03 09:22] ibell opened #167 "CoolProp.cpp that joins all the high-level code together"

[2014-03-03 09:22] ibell opened #168 "One FluidContainer that stores all the fluids"

[2014-03-03 09:23] ibell commented on #168
Retrieve by name or index

[2014-03-03 09:35] ibell opened #169 "Make fluid classes be singletons"

[2014-03-03 11:02] jowr commented on #166
I added a new branch for the SVN externals on the Modelica.org servers. Could anyone with write-access to these servers please update the URL for the external dependency on CoolProp? The new branch is called `ExternalMedia` and can be found via SVN at `https://github.com/ibell/coolprop/branches/ExternalMedia/`

[2014-03-03 11:48] squoilin commented on #166
About the extended features, do you believe they should be integrated directly into ExternalMedia? ExternalMedia is primarily designed for fluidprop, which does not handle incompressibles or (h,s).

Another solution could be to transform CoolProp2Modelica into a new library that extends ExternalMedia and adds the other features. In that case, it could be directly integrated into ThermoCycle.

What

[2014-03-03 16:22] ibell commented on #119
Closed by b2e2bb957918b61cf86dcf5aaaf61d62d484ea9c

[2014-03-03 16:22] #119 closed, assigned to nobody

[2014-03-03 19:26] jowr commented on #166
For now, the plan is to have both CoolProp2Modelica as a standalone library and the integration into ExternalMedia. The implementation of the changes we made will end up in the CoolPropMedium file and do not interfere with the FluidProp side of things.

I am not sure about a direct integration with ThermoCycle, but that is also an option.

[2014-03-04 08:01] ibell opened #170 "Deprecate functions for ancillary functions from the DLL"

[2014-03-04 08:02] ibell opened #171 "Deprecate functions PropsU and DerivTermsU"

[2014-03-04 08:04] jowr opened #172 "Try to rewrite incompressibles as functions p and h"
It should be possible to avoid iterations when calling the property functions of incompressible fluids with p and h as inputs.

[2014-03-04 09:03] ibell commented on #170
Closed by 2c5598ce84766c229c0c0a075a625a161d1dcb47 and 67701e8f1fba5fd10cc64ae7760615fd70a8dec0

[2014-03-04 09:03] #170 closed, assigned to nobody

[2014-03-04 11:03] jowr commented on #166
Almost done, new features not included in ExternalMedia yet.

[2014-03-04 16:13] visekemi opened #173 "CoolProp and EES compatibility issues"
I get errors when I open and then run the example in the folder C:\EES32\Userlib\CoolProp_EES, after install of CoolProp. I am running it on Windows 7 with EES versions: Commercial V9.409 (05/21/2013) and Commercial V9.613 (02/22/2014), with both I get the same issues.

[2014-03-04 16:30] ibell commented on #173
I think you aren't using 4.1.2.  I installed 4.1.2 on my own machine and
the example runs.  So my feeling is that you have an older version
installed.  What version did you install?

On Tue, Mar 4, 2014 at 5:13 PM, visekemi notifications@github.com wrote:

[2014-03-04 17:48] visekemi commented on #173
You mean version of CoolProp? I downloaded from the following link:
http://sourceforge.net/projects/coolprop/files/CoolProp/4.1.2/EES/
I run the CoolProp_EES_installer in the folder: C:\EES32\Userlib.
The CoolProp_EES is in that folder.

[2014-03-04 18:18] spinnau opened #174 "Simple plotting of cycles"
I want to discuss possibilities to add easy plotting of processes and cycles. I know about the _SimpleCycles_ module, but a more general solution would be great. By now for each process the data has to be created and plotted manually, like

[code]

This means a lot of plotting code for cycles. Especially in IPython notebooks a cleaner solution would be nice. Thus, I am actually using the method pr

[2014-03-04 18:21] visekemi commented on #173
I found the issue: first I downloaded all the folder with all interfaces from the link: Download CoolProp-4.1.2-windows_superpack.zip (43.7 MB) from the page which you sent me. I uninstalled it and downloaded only CoolProp_EES_installer.msi from the same page, installed and works.
So, I think there is something wrong with that folder, where all the interfaces for all languages are.

[2014-03-04 18:31] visekemi opened #175 "Create mixtures with CoolProp"
How do I create mixtures with CoolProp? I followed similar command as for FluiProp:
D=CoolProp('D','T',300,'P',205,'R32:50/R125:50')
and doesn't work.
Please help!

[2014-03-04 20:04] #173 closed, assigned to nobody

[2014-03-04 20:04] ibell commented on #173
That is odd as the updated installer for EES should have been included in
the superpack. Anyway, glad to hear it is working now.

Closing this issue.

On Tue, Mar 4, 2014 at 7:21 PM, visekemi notifications@github.com wrote:

[2014-03-04 20:06] ibell commented on #175
Unfortunately CoolProp does not support mixtures for the moment though it will extremely soon. If you have REFPROP, you can use mixtures like in : http://coolprop.sourceforge.net/FluidInformation.html#refprop-fluids-and-mixtures

[2014-03-04 20:06] #175 closed, assigned to nobody

[2014-03-04 21:08] visekemi commented on #175
I have refprop 9 and refprop 8. Looks like only refprop 8 works. However, how can I create a mixture using variables?
Dens = CoolProp('D','Q',1,'P',101.325,'REFPROP-MIX:R32[x]&R125[y]')
x=0.3
y=0.7

[2014-03-04 22:07] ibell commented on #175
You need to turn the variables into a string.  Not sure how to do that in
EES.  REFPROP 9 should definitely work.  I use 9.1, and I know a couple of
other people do as well.  Where is your REFPROP installed?

On Tue, Mar 4, 2014 at 10:08 PM, visekemi notifications@github.com wrote:

[2014-03-04 22:22] visekemi commented on #175
It is saved on C:\Program Files\REFPROP
Thanks for help

[2014-03-04 22:35] ibell commented on #175
Perhaps the best is to add the c:\Program Files\REFPROP to the system
path.  See also
http://geekswithblogs.net/renso/archive/2009/10/21/how-to-set-the-windows-path-in-windows-7.aspx

On Tue, Mar 4, 2014 at 11:22 PM, visekemi notifications@github.com wrote:

[2014-03-05 02:54] visekemi commented on #175
Thanks...discussions helped a lot, I made it finally :-)
Here is a EES string to create mixture of refrigerants:
a$='REFPROP-MIX:'||'R32'||'['||yy$||']'||and$||'R125'||'['||xx$||']'

[2014-03-05 10:01] ibell commented on #175
Great I added that information about the EES strings to the docs.

[2014-03-08 20:18] ibell commented on #174
This is a great idea!  We also need someone to come in and convert all the plotting routines to always use the PropsSI function.  Want to take a shot at that too?

[2014-03-09 19:07] spinnau commented on #174
Yes, I can do the conversion to PropsSI function. But what to do with the axis units and labels? Should the plots also show SI units (with scientific notation to make pressure and energy values more readable)?

[2014-03-09 19:09] ibell commented on #174
I think its best if we still show the units in kSI units (kPa, kJ/kg,
etc.), but the internal calculations should use the PropsSI function and do
necessary conversions

On Sun, Mar 9, 2014 at 8:07 PM, spinnau notifications@github.com wrote:

[2014-03-09 19:10] jowr commented on #174
Hi and thanks for the help. In my opinion, we should make plots in the same units as before. Using SI units internally will make the code more future-proof...